<div class="edu-block">
<div class="big-headline"> Ease of Use and Flexibility </div>

<div class="row is-table-row services-row">
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0;">
			<%= image_tag("vanguard_icon.png", class:"services-icon") %>
		</div>
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 services-text-col">
			<div class="headline">Vanguard is pretty clunky, but gives you more options. </div>
			<div class="subtext">It can be hard to get started in Vanguard, but you’ll have more flexibility and control to customize your portfolio. You can invest in additional funds or even individual stocks in the future. </div>

		</div>
	</div>

	<div class="row is-table-row services-row">
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0;">
			<%= image_tag("betterment_icon.png", class:"services-icon") %>
		</div>
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 services-text-col">
			<div class="headline">Betterment is very user-friendly, but has fewer options. </div>
			<div class="subtext">It’s much easier to get started in Betterment because they’ll make investment decisions for you. You can tweak a few settings, but you’ll have less control over which funds you’re investing in and there’s no ability to invest in individual stocks.</div>
		</div>
	</div>

	<div class="button-row">
		<%= link_to "Next", services_reputation_path, class:"next-button" %>
	</div>
</div>