<div class="edu-block">
	<div class="button-row">
			<%= link_to "Back to summary", services_summary_path, class:"services-moreinfo" %>
	</div>
	<div class="big-headline"> Fees </div>

	<div class="row is-table-row services-row">
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0;">
				<%= image_tag("vanguard_icon.png", class:"services-icon") %>
			</div>
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 services-text-col">
				<div class="headline">Vanguard has the lowest fees for their index funds. </div>
				<div class="subtext">The fund we’ll recommend for you has a fee of .16%. Your estimated first year’s fee: </div>

			</div>
	</div>

	<div class="row is-table-row services-row">
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding: 0;">
			<%= image_tag("betterment_icon.png", class:"services-icon") %>
		</div>
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 services-text-col">
			<div class="headline">Betterment has slightly higher fees because they take care of your investments. </div>
			<div class="subtext">Their total fee is between .24%-.44% 
			(the more money you invest, the lower the fee). Your estimated first year’s fee: $</div>
		</div>
	</div>

</div>