<div class="headline">Hi #name#, we're excited to help you invest your #$1,000#. First, we'll pick between two investment services.<br /><span class="subtext">Why these two?</span></div>

	<div class="row is-table-row">
		<div class="col-sm-5 col-md-5 col-lg-5">
			<%= image_tag("vanguard_logo.png", class:"services-logo") %>
		</div>
		<div class="col-sm-5 col-md-5 col-lg-5">
			<%= image_tag("betterment_logo.png", class:"services-logo") %>
		</div>
	</div>


<div class="button-row">
<%= link_to "Next", services_overview_path, class:"next-button" %>
</div>
