<script type="text/javascript">
    mixpanel.track("invested_thanks", {

    });
</script>
<div style="margin-top:20%">
<section id="intro-page">
	<div class="intro_image_block"><%= image_tag("savvy_thumbnail.png", style:"width:150px;height:auto;") %> </div>
	<p class="big-headline"> Thanks, <%= @user.name %></p>
	<p class="headline">We really appreciate your time and feedback! </p>
	<br />
</section>
</div>