<script type="text/javascript">
    mixpanel.track("thanks", {
        
    });
</script>

<body class="page-background">

<section id="savvy-score-section">
<div class="savvy-score-bgimage">
    <%= image_tag("thanks-header.png", class:'savvy-score-bgimage' )%>
</div>
</section>
<section id="coach-section">
	<div class="coach-chat-triangle"></div>

	<div class="coach-question">

		Thanks, <%= @user.name %>. We'll be in touch soon!
	</div>
</section>
</body>