<%= @greeting %> <%= @user.name %>!

<p>Ever find it difficult to get around to those tasks that aren't at the top of your fun list? Like investing? We get it. Now, there's a good technique to motivate us to take care of those tasks. Researchers at University of Pennsylvania have come up with a concept known as "temptation bundling", where you pair together an unpleasant task with a fun reward or incentive. These incentives have been shown to be powerful ways to commit to a task. For example, one of the researchers found that she went to the gym more often if she allowed herself to indulge in a bad TV show while she was there. That guilty pleasure gave her the motivation to tackle something she'd normally put off. </p>

<p>While investing offers rewards in the long-term, we think you deserve some immediate gratification for following through on investing. This is the perfect excuse to indulge in your favorite guilty pleasure. Maybe it's time to listen to your favorite song on repeat while you choose your investment site, dish yourself some ice cream, pour your favorite drink, or cue up that TV show you've been waiting to watch. </p>

<p>And when you're done, let us know how you treated yo'self when you made your investment! If you have any questions or feedback, we would love to hear it - please feel free to reply to this email anytime!</p>

<p>Stay savvy,<br />
Matt and Sushmita<br />
Savvy cofounders</p>