<%= @greeting %> <%= @user.name %>!

<p>Ever find it difficult to get around to those tasks that aren't at the top of your fun list? Like investing? We get it. Now, there's a good technique to motivate us to take care of those tasks. </p>

<p>Researchers at the University of Pennsylvania have come up with a concept known as "temptation bundling", where you pair together an unpleasant task with a fun reward or incentive. These incentives are a powerful way to motivate you to do an unpleasant task. For example, one of the researchers found that she went to the gym more often if she allowed herself to indulge in a bad TV show while she was there. That guilty pleasure gave her the motivation to tackle something she'd normally put off. </p>

<p>While investing offers rewards in the long-term, we think you deserve some immediate gratification for following through on investing. This is the perfect excuse to indulge in your favorite guilty pleasure. Maybe it's time to listen to your favorite song on repeat while you choose your investment site, dish yourself some ice cream, pour your favorite drink, or cue up that TV show you've been waiting to watch. </p>

<div>
  <table cellspacing="0" cellpadding="0"> <tr> 
  <td align="center" width="300" height="40" bgcolor="#00A99D" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; display: block;">
    <span style="color: #ffffff;">
      <%= link_to "I'm Ready!", services_recommendation_url, class: "email-button" %>
    </span>
    </a>
  </td> 
  </tr> 
  </table> 
</div>

<p>And when you're done, let us know how you rewarded yourself for making an investment! If you have any questions or feedback, we would love to hear it - please feel free to reply to this email anytime!</p>

<p>Stay savvy,<br />
Matt and Sushmita<br />
Savvy co-founders</p>