<% @title=": About Us" %>
<script type="text/javascript">
    mixpanel.track("saver_about_us", {

    });
</script>

<div class="header saver-header">
	<div class="saver-header-icon-block"><%= image_tag("piggybank2.png", class:"saver-header-icon") %> </div>
	<div class="saver-header-logo-block">	<%= image_tag("savvysaverlogo.png", class:"saver-header-logo") %></div>
		<br /> <hr class="saver-hr"/>
</div>


<div class="saver-question-block">
    <div class="step-text big-headline option-row">A little about us<br /></div>
    <div class="headline">
    <p>We're on a mission to put money back in your pockets and not in the big pockets of your cable and internet company. We know you work hard to earn and save. We want to make it easier. </p>
    <p>Instead of forgoing your morning latte, sign up with Savvy and we'll save you hundreds this year on your cable/internet bill. On average, we've saved our customers $300/year. </p>
    </div>

      <br />


   	<div style="margin-auto; text-align:center;">
      <%= link_to "I'm ready", signup3_saver_guests_path, class:"next-button" %>
    </div>
    <div style="height:30px; color:transparent;">
      a
    </div>
</div>

	