<% @title=": How It Works" %>
<script type="text/javascript">
    mixpanel.track("saver_intro", {

    });
</script>

<script>
$(document).ready(function() {
  $('a[href*="#questions"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);

        
        return false;
      }
    }
  });

  
  
});

</script>


		<div class="header saver-header">
			<div class="saver-header-icon-block"><%= image_tag("piggybank2.png", class:"saver-header-icon") %> </div>
			<div class="saver-header-logo-block">	<%= image_tag("savvysaverlogo.png", class:"saver-header-logo") %></div>
				<br /> <hr class="saver-hr"/>
		</div>


<div class="saver-question-block">
    <div class="big-headline">Hi there! </div>
    <div class="headline option-row">We're excited to save you some money.</div>
   	<div class="button-row option-row">
      <%= link_to "Next", signup_saver_guests_path, class: "next-button" %>
    </div>
</div>



