<div class="edu-block">
	Based on our experience with similar customers, we think you can save <br />
	<span style="font-weight:500; font-size:28px;"><%= projected_savings %></span><br />
	<br />
	<% if projected_savings == "–" %>
		We'll be able to give you a more accurate estimate once we take a look at your latest bill.
	<% end %>

	<br /> <br />
	Let's get you some money back. We'll send you an email to kick this off and you can send us your latest bill. Then we'll get to work researching and negotiating a lower rate for you.
	<br />

	<%= form_for @saver_guest do |f| %>
       <div class="dropdown-style">
       	<%= f.email_field :email, class: "madlib-sentence border-underline", placeholder: "email address" %>
       </div>
       <br /><br />
       <%= f.submit "I'm ready to save", class: 'next-button' %>
    <% end %>
</div>