<% @title=": Thanks" %>
<script type="text/javascript">
    mixpanel.track("saver_thanks", {

    });
</script>
<div class="header saver-header">
	<div class="saver-header-icon-block"><%= image_tag("piggybank2.png", class:"saver-header-icon") %> </div>
	<div class="saver-header-logo-block">	<%= image_tag("savvysaverlogo.png", class:"saver-header-logo") %></div>
		<br /> <hr class="saver-hr"/>
	</div>
</div>

<script type="text/javascript"> 
  var _ubaq = _ubaq || [];
  _ubaq.push(['trackGoal', 'convert']);
  (function() {
  var ub_script = document.createElement('script');
  ub_script.type = 'text/javascript';
  ub_script.src = 
    ('https:' == document.location.protocol ? 'https://' : 'http://') + 
    'd3pkntwtp2ukl5.cloudfront.net/uba.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(ub_script, s);
  }) ();
</script>


<div class="saver-question-block">
Great, thanks for signing up. Now, check your inbox to get started! 
</div>