<div class="header saver-header">
	<div class="intro_image_block"><%= image_tag("piggybank2.png", style:"width:100px;height:auto;") %> 
	<%= image_tag("savvysaverlogo.png", style:"width:250px; height:auto;") %>
		<br /> <hr />
	</div>
</div>


<div class="edu-block">
Great, thanks for signing up. Now, check your inbox to get started! 

</div>