<% @title=": Thanks" %>
<script type="text/javascript">
    mixpanel.track("saver_thanks", {

    });
</script>
<script>
    fbq('track', 'CompleteRegistration', {
    value: 10.00,
    currency: 'USD'
    });
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



<div class="header saver-header">
	<div class="saver-header-icon-block"><%= image_tag("piggybank2.png", class:"saver-header-icon") %> </div>
	<div class="saver-header-logo-block">	<%= image_tag("savvysaverlogo.png", class:"saver-header-logo") %></div>
		<br /> <hr class="saver-hr"/>
	</div>
</div>



<div class="saver-question-block headline">
  <!--% if @saver_guest.bill.present? %>
    <p>Thanks for uploading your bill. </p>
    <br />
    <p>We'll call your cable company to negotiate a lower price and send you the result!</p-->
    <br />
    Great, we'll send you an email with more info on sending us your bill. Check your inbox to get started! 
    
    <div class="spaced-row"></div>
    <div class="fb-like" data-href="https://www.facebook.com/getsavvier" data-width="100px" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>

    
 
</div>