<% @title=": Thanks" %>
<script type="text/javascript">
    mixpanel.track("saver_thanks", {

    });
</script>
<div class="header saver-header">
	<div class="saver-header-icon-block"><%= image_tag("piggybank2.png", class:"saver-header-icon") %> </div>
	<div class="saver-header-logo-block">	<%= image_tag("savvysaverlogo.png", class:"saver-header-logo") %></div>
		<br /> <hr class="saver-hr"/>
	</div>
</div>



<div class="saver-question-block">
  <% if @saver_guest.bill.present? %>
    <p>Thanks for uploading your bill. </p>
    <br />
    <p>We'll call your cable company to negotiate a lower price and send you the result!</p>
  <% else %>
    Sounds good, we'll send you an email with more info on sending us your bill. Check your inbox to get started! 
  <% end %>
</div>