/* line 1, /Users/sushmita/Documents/Team Mocha/saver/app/assets/stylesheets/email.scss */
.email-body {
  /*padding: 50px 80px 50px 80px;*/
  padding-left: 10%;
  padding-top: 10%;
  padding-right: 10%;
  font-family: Arial, Verdana;
  line-height: 1.4;
}

/* line 10, /Users/sushmita/Documents/Team Mocha/saver/app/assets/stylesheets/email.scss */
.list {
  line-height: 1.5;
}

/* line 14, /Users/sushmita/Documents/Team Mocha/saver/app/assets/stylesheets/email.scss */
.email-link {
  color: #00A99D;
}
