<script type="text/javascript">
    mixpanel.track("intro_amount_check", {

    });
</script>

<div class="edu-block">
  <div class="big-headline">
  A quick check-in
  </div>
  <div class="headline edu-para">It's awesome that you want to invest $<%= @initial_amount %>. A couple  things to note.
  <ul>
  	<li>It's good to have an emergency fund outside of your investments. The general guideline is to have 3-6 months worth of expenses saved up. </li>
  	<li>If you have a short-term goal that you want to use this money toward, it may be worth less at the time that you want to use it (again, because the stock market goes up and down in the short & medium-term)</li>
  </ul>
  </div>

  <br />
  <div class="centered-title">
  <%= link_to "Got it, I'm ready to invest $#{number_with_delimiter(@initial_amount)}", wizard_path(:retirement_account), class: "next-button" %>
  <br /><br />

  <%= link_to "Actually, I'd like to invest a smaller amount", wizard_path(:initial_investment, anchor: "recommendation"), class: "centered-title" %>
  </div>
</div>