<script type="text/javascript">
    mixpanel.track("credit_cards", {
        
    });
</script>

<body class="page-background">

<section id="coach-section">
	<div class="coach-question">
		That’s rough, but you’re in good company. 70% of college grads end up with some student loans, and an average of $25,000. 
		<br /><br />
		In addition to student loans, it’s easy for people to end up with credit card debt. How are you doing on that front?
	</div>
</section>

<!-- fade in user input section -->
<script>
$(document).ready(function(){
    $('div.hidden').hide(0).delay(1500).fadeIn(1000).removeClass('hidden');
});
</script>

<div class="hidden" style="display:none;">
	<section id="user-section">
	<%= form_for @user do |f| %>
		<div class="spaced-row">
			<div class="madlib-sentence">	
				
				I owe
				<div class="loan-dropdown inner-addon right-addon">
					<span class="select-cc-loan">
					<%= f.select :cc_amount, [['less than $1000', 1], ['$1000 – $5000', 2], ['over $5000', 3], ['$0, all paid off', 4], ['$0, no credit cards', 0]]%>
				<span class="glyphicon"><%= image_tag("dropdown-arrow.png")%></span>
				</span>
				</div>
			
			</div>
		</div>

		<div class="button-row">
			<%= f.submit "Next", class: 'btn-default' %>
		</div>
	</section>
</div>
	<% end %>

</body>

				




