<script type="text/javascript">
    mixpanel.track("credit_cards", {
        
    });
</script>

<body class="page-background">

<section id="coach-section">
	<div class="coach-question">
		<aside>
		<%= student_loans_message %> <br /> 70% of college grads end up with student loans. </aside>
		<p class="main-question">How are you doing with credit cards? Any debt?</p>
		</p>
	</div>
</section>

<!-- fade in user input section -->
<script>
$(document).ready(function(){
    $('div.hidden').hide(0).delay(1500).fadeIn(1000).removeClass('hidden');
});
</script>

<div class="hidden" style="display:none;">
	<section id="user-section">
	<%= form_for @user, url: wizard_path, method: :put do |f| %>
		<div class="spaced-row user-content">
			<div class="madlib-sentence">	
				<div class="dropdown-style inner-addon right-addon">
					<%= f.select :cc_amount, [['I don\'t have any credit cards', 0], ['I pay them off every month', 4], ['I owe less than $1000', 1], ['I owe $1000 – $5000', 2], ['I owe over $5000', 3]], {prompt: 'My credit card debt...' }, :required => true, :class => "my-dropdown" %>
					<span class="glyphicon glyphicon-menu-down" style="color:#FFF"></span>
				</div>
			
			</div>
		</div>

		<div class="button-row">
			<%= f.submit "Next", class: 'next-button' %>
		</div>
	</section>
</div>
	<% end %>

</body>

				




