<script type="text/javascript">
    mixpanel.track("credit_cards", {
        
    });
</script>

<body class="page-background">

<section id="coach-section">
	 <div class="coach-chat-triangle"></div>
	<div class="coach-question">
		<aside>
		<%= student_loans_message %>  </aside>		
	</div>
</section>

<script>
$(document).ready(function(){
    for(i=1; i<4; i++) {
    	$('#chat'+i).hide(0).delay(1000*i).fadeIn(100).removeClass('hidden');
    }
});
</script>

<div id="chat1" class="hidden" style="display:none;">
<section id="coach-section">
	 <div class="coach-chat-triangle"></div>
	<div class="coach-question">
		<aside>
		70% of college grads end up with student loans. </aside>
	</div>
</section>

<div id="chat2" class="hidden" style="display:none;">
<section id="coach-section">
	 <div class="coach-chat-triangle"></div>
	<div class="coach-question">
		<p class="main-question">How are you doing with credit cards? Any debt?</p>
	</div>
</section>

<div id="chat3" class="hidden" style="display:none;">
	
	<%= form_for @user, url: wizard_path, method: :put do |f| %>

	<section id="user-section">
	
		<div class="spaced-row user-content">
			<div class="madlib-sentence">	
				<div class="dropdown-style inner-addon right-addon">
					<%= f.select :cc_amount, [['I don\'t have any credit cards', 0], ['I pay them off every month', 4], ['I owe less than $1000', 1], ['I owe $1000 – $5000', 2], ['I owe over $5000', 3]], {prompt: 'My credit card debt...' }, :required => true, :class => "my-dropdown" %>
					<span class="glyphicon glyphicon-menu-down" style="color:#FFF"></span>
				</div>
			
			</div>
		</div>

		
	</section>
	<div class="button-row">
			<%= f.submit "Next", class: 'next-button' %>
	</div>
	<% end %>
</div>
	

</body>

