<script type="text/javascript">
    mixpanel.track("financial_summary", {
        
    });

</script>

<!--script src="js/skill.bars.jquery.js"></script-->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js">
</script>

  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<body class="page-background">

<section id="savvy-score-section">
  <div class="savvy-score-bgimage">
    <%= image_tag("savvy-score-bkgd-2.png", class:'savvy-score-bgimage' )%>
    <div class="savvy-score-textgroup">
      <div class="savvy-score-title">
        SAVVY SCORE
      </div>
        <div class="score-total">
        (out of 100)
      </div>
      <div class="savvy-score">
        <%= @savvy_score %> 
      </div>
   
    </div>
  </div>
  
</section>

<script>
$(document).ready(function(){
    for(i=1; i<3; i++) {
      $('#chat'+i).hide(0).delay(1000*i).fadeIn(100).removeClass('hidden');
    }
});
</script>


<div id="chat1" class="hidden" style="display:none;">
  <section id="first-priority">
    What we'll tackle first:
    <br /><span class="main-question"><%= @weakness %></span>
  </section>
</div>

<div id="chat2" class="hidden" style="display:none;">
  <section id="coach-section">
    <div class="coach-chat-triangle"></div>
    <div class="coach-question">
      We calculated your Savvy Score based on your current debt, savings, investments,  and financial habits (which are crucial for an awesome future).
    </div>
  </section>
  <div class="spaced-row"></div>
  <div class="button-row">
      <%= link_to "I want to increase my savvy", new_user_registration_path, class: 'next-button' %>
  </div>
</div>
</body>