<% @title=": Financial Picture" %>
<script type="text/javascript">
    mixpanel.track("financial_picture", {
        
    });
</script>

<body class="page-background">

	<section id="coach-section">
		<div class="coach-chat-triangle"></div>

		<div class="coach-question">
			<aside>
				<%= preparedness_feedback %>
			</aside>		
		</div>
	</section>

	<script>
		$(document).ready(function(){
    		for(i=1; i<3; i++) {
    			$('#chat'+i).hide(0).delay(1000*i).fadeIn(100).removeClass('hidden');
    		}
		});
	</script>

	<div id="chat1" class="hidden" style="display:none;">
		<section id="coach-section">
			<div class="coach-chat-triangle"></div>
			<div class="coach-question">
				There are a few main areas that make up your financial health & habits:
				<ul>
					<li> Debt </li>
					<li> Savings </li>
					<li> Spending Habits</li>
					<li> Investments</li>
				</ul>
			</div>
		</section>
	</div>

	<div id= "chat2" class="hidden" style="display:none;">
		<section id="coach-section">
			<div class="coach-chat-triangle"></div>
			<div class="coach-question">
			I'll ask you a quick question or two for each.  Let's dive in!
			</div>
		</section>
		<div class="button-row">
			<%= link_to "Next", next_wizard_path, class: 'next-button' %>
		</div>
		<div class="page-bottom-padding">
			<div class="padding-text">
				adding space below next button
			</div>
		</div>
	</div>

</body>