<% @title=": Financial Picture" %>
<script type="text/javascript">
    mixpanel.track("focus_area", {
        
    });
</script>

<body class="page-background">

	
	<section id="first-priority">
		What we'll tackle first:
		<br /><span class="main-question"><%= @area_to_work_on %></span>
	</section>
	

	<section id="coach-section">
		<div class="coach-chat-triangle"></div>

		<div class="coach-question">
			<aside>
				<%= focus_area_feedback %>
			</aside>		
		</div>
	</section>

	<script>
		$(document).ready(function(){
    		for(i=1; i<3; i++) {
    			$('#chat'+i).hide(0).delay(1000*i).fadeIn(100).removeClass('hidden');
    		}
		});
	</script>

	<div id="chat2" class="hidden" style="display:none;">
    	<section id="coach-section">
      		<div class="coach-chat-triangle"></div>
      		<div class="coach-question">
        		Let's get started!
      		</div>
    	</section>
    	<div class="spaced-row"></div>
    	<div class="button-row">
      		<%= link_to "I want to increase my savvy", new_user_registration_path, class: 'next-button' %>
    	</div>
    	<div class="page-bottom-padding">
      		<div class="padding-text">
        		adding space below next button
      		</div>
    	</div>
  	</div>
</body>