<script type="text/javascript">
    mixpanel.track("intro_follow_up", {
    });
</script>
<div class="edu-block">
  
    <div class="big-headline">What's next?</div>
    <div class="edu-para">
    <p><%= follow_up_msg %>

		<p>Based on our follow-up, we'll identify the best options and our recommendation for you. We'll also walk you through steps to make an investment. </p>

		<p>We'll be reaching out shortly - just enter your email so that we can be in touch.</p>
    <br />
		<%= form_for @guest_user do |f| %>
	    <div class="dropdown-style"> 
        <%= f.text_field :email, class: "border-underline", style:"width:250px;",placeholder: "my email address", autocorrect: "off" %>
      </div>
      <br /><br />
      <%= f.submit "Submit", class:"short-option-button" %>
    <% end %>

	</div>
</div>