<script type="text/javascript">
    mixpanel.track("future", {
        
    });
</script>

<body class="page-background">


<section id="coach-section">
	<div class="coach-question">
		<aside>
		Ok, now for the fun stuff – let’s do a little exercise. </aside>
		<p class="main-question">Imagine it's <%= Time.now.strftime("%a, %b %d, %Y") %>. <br \>That's 3 years from today.</p>
	</div>
</section>

<section id="user-section">
	
	<div class="row-future">
	  <div class="col-madlibs-question">Where you'll live: </div>
	  <div class="col-madlibs-field"><input type="text" name="" value="" class="madlib-sentence border-underline textfield-future" placeholder="city"></div>
	</div>	

	<div class="row-future">
	  <div class="col-madlibs-question">Why you'll live there </div>
	  <div class="col-madlibs-field"><input type="text" name="" value="" class="madlib-sentence border-underline textfield-future" placeholder="reason"></div>
	</div>	

	<div class="row-future">
	  <div class="col-madlibs-question">What you'll do for work </div>
	  <div class="col-madlibs-field"><input type="text" name="" value="" class="madlib-sentence border-underline textfield-future" placeholder="job"></div>
	</div>	

	<div class="row-future">
	  <div class="col-madlibs-question">What you'll do after work </div>
	  <div class="col-madlibs-field"><input type="text" name="" value="" class="madlib-sentence border-underline textfield-future" placeholder="activity"></div>
	</div>	

	<div class="row-future">
	  <div class="col-madlibs-question">What you'll do on a weekend </div>
	  <div class="col-madlibs-field"><input type="text" name="" value="" class="madlib-sentence border-underline textfield-future" placeholder="activity"></div>
	</div>	

	<div class="row-future">
	  <div class="col-madlibs-question">Financial shape </div>
	  <div class="col-madlibs-field"><input type="text" name="" value="" class="madlib-sentence border-underline textfield-future" placeholder="change/improvement"></div>
	</div>	


</section>


</body>