<script type="text/javascript">
    mixpanel.track("intro_introduction", {

    });
</script>
<script>
$(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>

<div class="edu-block">
  <div class="big-headline">
  It's great to meet you, <%= @guest_user.name %>!
  </div>

  <div class="headline">Let's get started.
  </div>
  <br />
  <a href="#anchor", class="next-button">Continue</a>
</div>


<a name="anchor" id="anchor" class="anchor-style">Investing</a>
<div class="edu-block">
  <div class="headline">
    <p class="edu-para">Investing is an awesome, safe way to grow your money over a long period of time. </p>

    <p class="edu-para">There's a lot of confusing information out there so we'll start by going over a few basics. Feel free to skip over any parts you already know. :)</p>
  </div>
 
    <%= link_to "Next", next_wizard_path, class:"next-button" %>
</div>

