<script type="text/javascript">
    mixpanel.track("present_vs_future", {
        
    });
</script>

<body class="page-background">

<section id="coach-section">
	<div class="coach-question">
		<aside>Take a second to reflect on how life could be different in a couple years.</aside>		
		<p class="main-question">How prepared do you feel to make this a reality?</p>
	</div>
</section>


<section id="user-section">
	[display future vision here + prompt for user to indicate preparedness]

</section>

</body>