<script type="text/javascript">
    mixpanel.track("present_day", {
        
    });
</script>

<body class="page-background">

<section id="coach-section">
	<div class="coach-question">
		<aside>
		Ok, now for the fun stuff – let’s do a little exercise. </aside>
		<p class="main-question">Think about what you did yesterday.</p>
	</div>
</section>

<section id="user-section">
<%= form_for @user, url: wizard_path, method: :put do |f| %>
	I woke up at
		<!-- temporarily saving this first text field to the present day variable -->
			<%= f.text_field :present_day, class: "madlib-sentence border-underline number-field input-number–noSpinners", placeholder: "time", :required => true %>
			<!--input type="number" name="user[present_day][morning_time]" value="" class="madlib-sentence border-underline number-field input-number–noSpinners" placeholder="time"--> am.

		<!-- just making these plain input fields that go nowhere right now until we figure out saving -->
		I live in
			<input type="text" name="" value="" class="madlib-sentence border-underline text-field" placeholder="place">, and I’m happy to be here because <input type="text" name="" value="" class="madlib-sentence border-underline text-field" placeholder="reason">.

        I spent my morning
        <input type="text" name="" value="" class="madlib-sentence border-underline text-field" placeholder="verb">.
        	
        Then it was off to 
       		<input type="text" name="" value="" class="madlib-sentence border-underline text-field" placeholder="place"> where I
       		<input type="text" name="" value="" class="madlib-sentence border-underline text-field" placeholder="verb">.

		In the evening, I 
			<input type="text" name="" value="" class="madlib-sentence border-underline text-field" placeholder="verb">.
			(with <input type="text" name="" value="" class="madlib-sentence border-underline text-field" placeholder="person">).

		I went to bed around <input type="number" name="" value="" class="madlib-sentence border-underline number-field input-number–noSpinners" placeholder="time">pm.



<div class="button-row">
		<%= f.submit "Next", class: 'next-button' %>
	</div>
</section>
<% end %>

</body>