<script type="text/javascript">
    mixpanel.track("savings", {
        
    });
</script>

<body class="page-background">

<section id="coach-section">
	<div class="coach-chat-triangle"></div>

	<div class="coach-question">
		<aside>
		<%= cc_feedback %> 
		</aside>
	</div>
</section>

<script>
$(document).ready(function(){
    for(i=1; i<3; i++) {
    	$('#chat'+i).hide(0).delay(1000*i).fadeIn(100).removeClass('hidden');
    }
});
</script>

<div id="chat1" class="hidden" style="display:none;">
<section id="coach-section">
	<div class="coach-chat-triangle"></div>

	<div class="coach-question">
		<aside>
		Now, let’s give your piggy bank a shake. 
		</aside>
		<p class="main-question">Roughly, how much have you saved up?</p>
		
	</div>
</section>

<div id="chat2" class="hidden" style="display:none;">

<%= form_for @user, url: wizard_path, method: :put do |f| %>

	<section id="user-section">
	
		<div class="spaced-row user-content">
			<div class="madlib-sentence">	
				<div class="dropdown-style inner-addon right-addon">
					<%= f.select(:savings_amount, [['Someone raided my piggy bank', 0], ['I have hundreds', 1], ['I have thousands', 2], ['I have tens of thousands', 3]], data: { placeholder: "My savings..."}, :required => true, :class => "my-dropdown") %>
					<span class="glyphicon glyphicon-menu-down" style="color:#FFF"></span>
				</div>
			</div>
		</div>
		
	</section>
	<div class="button-row">
			<%= f.submit "Next", class: 'next-button' %>
	</div>
	<% end %>
</div>
</body>
