<% @title=": Financial Picture" %>
<script type="text/javascript">
    mixpanel.track("savvy_score_explained", {
        
    });
</script>

<body class="page-background">

	<section id="coach-section">
		<div class="coach-chat-triangle"></div>

		<div class="coach-question">
			<aside>
				While I crunch your <span style="font-weight:500">Savvy Score</span> numbers, let me give you a brief explanation. 
			</aside>		
		</div>
	</section>

	<script>
		$(document).ready(function(){
    		for(i=1; i<3; i++) {
    			$('#chat'+i).hide(0).delay(1000*i).fadeIn(100).removeClass('hidden');
    		}
		});
	</script>

	<div id="chat1" class="hidden" style="display:none;">
		<section id="coach-section">
			<div class="coach-chat-triangle"></div>
			<div class="coach-question">
				Your <span style="font-weight:500">Savvy Score</span> is a simplified way of measuring your financial health & habits. It factors in your:
				<ul>
					<li> debt, savings, & investments </li>
					<li> spending habits </li>
					<li> financial savvy </li>
				</ul>
			</div>
		</section>
	</div>
	<div id="chat2" class="hidden" style="display:none;">
		<section id="coach-section">
			<div class="coach-chat-triangle"></div>
			<div class="coach-question">
				It's pretty difficult to score 100% (even for savvy buccaneers like myself), so don't feel discouraged. The key is to improve it and that's where I can help.
			</div>
		</section>
		<div class="button-row">
				<%= link_to "Show me my Savvy Score", next_wizard_path, class: 'next-button' %>
		</div>
		<div class="padding-bottom">
			<div class="padding-text">
				adding space below next button
			</div>
		</div>
	</div>


</body>