<script type="text/javascript">
    mixpanel.track("spending", {
        
    });
</script>

<body class="page-background">

<section id="coach-section">
	<div class="coach-chat-triangle"></div>

	<div class="coach-question">
		<aside>
		<%= investment_feedback %> </aside>
	</div>
</section>

<script>
$(document).ready(function(){
    for(i=1; i<3; i++) {
    	$('#chat'+i).hide(0).delay(1000*i).fadeIn(100).removeClass('hidden');
    }
});
</script>

<div id="chat1" class="hidden" style="display:none;">
<section id="coach-section">
	<div class="coach-chat-triangle"></div>

	<div class="coach-question">
		<p class="main-question">On that note, how much money do you save vs. spend from each paycheck?</p>
	</div>
</section>

<div id="chat2" class="hidden" style="display:none;">
<%= form_for @guest_user, url: wizard_path, method: :put do |f| %>

	<section id="user-section">
	
		<div class="spaced-row user-content">
			<div class="madlib-sentence">	
				<span class="dropdown-style inner-addon right-addon">
					<%= f.select :spend_vs_income, [['Saving a hefty chunk', 'Saving a hefty chunk'], ['Saving a little bit', 'Saving a little bit'], ['Spending it all', 'Spending it all']], { prompt: 'I save...'}, :required => true, :class => "my-dropdown" %>
				<span class="glyphicon glyphicon-menu-down" style="color:#FFF"></span>
				</span>
			</div>
		</div>
		
	</section>
	

<div class="button-row">
			<%= f.submit "Next", class: 'next-button' %>
</div>
<% end %>
</div>
</body>

