<script type="text/javascript">
    mixpanel.track("intro_takeaways", {
        
    });
</script>
 <div class="edu-block">
 	<div class="big-headline">Big takeaways:</div>
 	<div class="headline">
 		<ul>
 			<li>There has been no 20 year time period in history where people have lost money in the stock market.</li> <br />
 			<li> The more time you have to invest, the safer the investment (i.e. start now and leave it invested for awhile).</li> <br />
 			<li> Investing in funds is less risky and less time-intensive than investing in individual stocks. </li> <br />
 		</ul>

		    <%= link_to "Got it", next_wizard_path, class:"next-button" %>
 	</div>
 </div>