<script type="text/javascript">
    mixpanel.track("thanks", {
        
    });
</script>

<body class="page-background">
<section id="coach-section">
	<div class="coach-chat-triangle"></div>

	<div class="coach-question">

		Thanks, <%= @guest_user.name %>. We'll be in touch soon!
	</div>
</section>
</body>