<script type="text/javascript">
    mixpanel.track("intro_thanks", {

    });
</script>
<div style="margin-top:20%">
<section id="intro-page">
	<div class="intro_image_block"><%= image_tag("savvy_thumbnail.png", style:"width:150px;height:auto;") %> </div>
	<p class="big-headline"> Thanks, <%= @guest_user.name %></p>
	<p class="headline">We'll be in touch soon! </p>
	<!-- <p class="button-row"><%= link_to "Get Started", new_user_registration_path, class:"next-button" %></p> -->
	<br />
</section>
</div>