<script>
$(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);
        $('#stocks').hide(0).fadeIn(100).removeClass('hidden');
        return false;
      }
    }
  });
});

$(function() {
	$('#anchor1').click(function() {
    var href = $.attr(this, 'href');
    $('html, body').animate({
        scrollTop: $(href).offset().top
    }, 500, function () {
        window.location.hash = href;
    });
    $('#funds').hide(0).fadeIn(100).removeClass('hidden');
    return false;
	});
});

  </script>

<p>There are 2 main ways to invest in the stock market:</p>
<ul>
	<li>buy a specific company's stock</li>
	<li>buy index funds</li>
</ul>

<p>We believe index funds are the best place to start. </p>

<p>Would you like to know more aobut the tradeoffs between these two?</p>

<p><a href="#anchor" class="next-button">Yes</a></p>

<%= form_for @investing_profile, url: wizard_path, method: :put do |f| %>
	<%= f.hidden_field :explain_stocks_vs_funds, value: "No" %>

	<%= f.submit "No", class:"next-button" %>
<% end %>

<div id="stocks" class="hidden" style="display:none;">
<a name="anchor">Investing in a specific company's stock</a>

<p>If you invest in a specific company, your money will go up and down following the company's ups and downs. </p>

<p>The Good: it can be really fun to research and speculate on companies. And this can sometimes lead to big rewards!</p>

<p>The Bad: this can also lead to big losses! Also, individual stocks tend to require more time and research than funds.</p>

<p>Main takeaway: this is a risky type of investment. </p>
<p>Because of this, we don't recommend starting here or putting all of your money into individual stocks.<p>


<p><a href="#anchor1" class="next-button">Next</a></p>
</div>

<div id="funds" class="hidden" style="display:none;">
<a name="anchor1">Investing in index funds</a>
<p>An index fund is a collection of company stocks. </p>

The Good: Index funds lower your risk by investing your money in a range of companies so you're not dependent on any one company's success or failure. Index funds also require less time and energy to manage than individual stocks.

The Bad: Some would say it's less exciting than investing in individual stocks - there are fewer swings up and down. We think it's great to have less drama! But it's important to understand that some people might consider it a bit more "dull."
</div>