<% @title=": Financial Picture" %>
<script type="text/javascript">
    mixpanel.track("intro_wrap_up", {
        
    });
</script>

<body class="page-background">

	<section id="coach-section">
		<div class="coach-chat-triangle"></div>

		<div class="coach-question">
			<aside>
				<%= spending_feedback %>
			</aside>		
		</div>
	</section>

	<script>
		$(document).ready(function(){
    		for(i=1; i<3; i++) {
    			$('#chat'+i).hide(0).delay(1000*i).fadeIn(100).removeClass('hidden');
    		}
		});
	</script>

	<div id="chat1" class="hidden" style="display:none;">
		<section id="coach-section">
			<div class="coach-chat-triangle"></div>
			<div class="coach-question">
				Thanks for walking me through your financial info. I'm using it now to calculate your <span style="font-weight:500">Savvy Score</span>.
			</div>
		</section>
	</div>
	<div id="chat2" class="hidden" style="display:none;">
		<div class="button-row">
				<%= link_to "Learn about Savvy Score", next_wizard_path, class: 'next-button' %>
		</div>
		<div class="padding-bottom">
			<div class="padding-text">
				adding space below next button
			</div>
		</div>
	</div>


</body>