<p>Retirement savings: <%= @retirement.savings %></p>
<p>Current age: <%= @retirement.age %></p>
<p>Years until target retirement: <%= @retirement.years_remaining %></p>
<p>Annual spend: <%= @retirement.annual_spend %></p>