<p style="text-align:center; margin:auto;"><%= image_tag('https://www.getsavvier.com/assets/lp_hero_image.png', class:"email-header-image") %></p>

<p>We’ve been thrilled at how many of you have sent friends and family to Savvy! We've saved them an avg of $300 on their cable & internet bills and told us it felt like "magic." </p>

<p>We'd like to say thanks with an even bigger reward.</p>

<p>For the next month, we're offering a $20 Amazon gift card for every friend that experiences the magic of saving with Savvy. And they’ll get $20 off for using your link to sign up!</p>

<p>Give $20, Get $20!</p>

<p>Here’s your custom referral link to share: <%= link_to "www.getsavvier.com/r/#{@customer.invite_url_param}", "www.getsavvier.com/r/#{@customer.invite_url_param}" %></p>

<p>Hurry though, this deal only lasts until the end of April!</p>

<p>There’s no limit to how much you can earn; you get $20 for every friend who saves with Savvy. For more info on the referral program, check out <%= link_to "www.getsavvier.com/invite", "www.getsavvier.com/invite" %> </p>

<p>Thanks,<br />
Matt & Sushmita</p>