<p style="text-align:center; margin:auto;"><%= image_tag('https://www.getsavvier.com/assets/lp_hero_image.png', class:"email-header-image") %></p>

<p>Hey there <%= @customer.first_name %>,</p>

<p>To get started saving you money, we just need:</p>
<ul>
<li>your latest cable / internet bill</li>
<li>your phone number for that account</li>
</ul>

<p>We're serious about saving you money - we're doing it every day for people just like you. On average, we save people $300 per year.</p>

<p>What would you do with an extra few hundred bucks? </p>

<p>Just reply to this email with your bill and phone number and we'll get started saving you money!</p>

<p>Cheers,<br />
Matt & Sushmita<br />
Savvy Co-founders</p>
<br />

