<p style="text-align:center; margin:auto;"><%= image_tag('https://www.getsavvier.com/assets/lp_hero_image.png', class:"email-header-image") %></p>

<p>Hi <%= @customer.first_name %>,</p>

<p>Thanks again for signing up for Savvy! We wanted to send a quick apology for the delay in your Savvy signup email. </p>

<p>We’d love to say that we were busy prepping Melissa McCarthy for her SNL appearance and showing Lady Gaga how to perfect her aerial moves, but sadly it was just a mundane hiccup on our end. We made a fix and you should have received that much-anticipated email. :)</p>

<p>Above all, we want to help you save money on your cable & internet bills. We take your bills very seriously and the responsibility that comes along with negotiating on your behalf.</p>

<p>We’d love to help you save some money, time, and stress. Just send us your latest cable/internet bill and we’ll get started! We’ve been saving folks an average of $300/year and would love to do the same for you.</p>

<p>Thanks,<br />
Sushmita & Matt<br />
Savvy Cofounders</p>
