<p>Hello <%= @customer.first_name %>,</p>

<p>We have some sad news to share today: we’re shutting down Savvy. It was a very difficult decision but we know it’s the right one. </p>

<p>We set out to help people improve their finances by saving more money. We believe there should be better ways for people to save without needing to put in a ton of time and effort.</p>

<p>That’s why we were so excited to save you money on your cable/internet bills. It was thrilling to save you hundreds with almost no effort on your part. </p>

<p>We launched a couple of months ago and thanks to you and many other customers, we saw promising results. However, as we began scaling, we realized this was a very different type of business than we had imagined when we first got started and ultimately decided that it wasn’t a good fit for us. </p>

<p>It’s a sad day given how excited we were to help people save money with Savvy.</p>

<p>In terms of logistics: if you sent us a bill, we will be destroying it in order to ensure your privacy. The website will no longer be functional as of Friday, April 14 and this email address will no longer be functional as of Friday, April 21. If you have any questions, please let us know by replying to this email before Friday, April 21.</p>

<p>We want to thank you for trusting us to negotiate on your behalf. It was a privilege to serve you!</p>

<p>Best,<br />
Matt & Sushmita<br />
Savvy Co-Founders</p>