<p style="text-align:center; margin:auto;"><%= image_tag('https://www.getsavvier.com/assets/lp_hero_image.png', class:"email-header-image") %></p>

<p>Thanks for signing up for Savvy!</p>

<p><b>Just reply to this email with your most recent cable / internet bill and your phone number</b>.</p>

<p>Once we have your bill, we'll take care of the rest – we'll research, call and negotiate a better rate on your behalf.</p>

<p>We'll charge you 1/3 of what we save you and you'll keep the rest.</p>

<p>If you have any questions, please don’t hesitate to reply to this email with them and we’ll get right back to you!</p>

<p>Saving you money,<br />
Matt & Sushmita<br />
Savvy Co-founders</p>
<br />