<p style="text-align:center; margin:auto;"><%= image_tag('https://www.getsavvier.com/assets/lp_hero_image.png', class:"email-header-image") %></p>

<p>Thanks for signing up for Savvy!</p>

<p><b>The next step is to upload your latest TV / internet bill</b>.</p> 

<div>
  <table cellspacing="0" cellpadding="0"> 
	  <tr> 
	  	<td align="center" width="300" height="40" bgcolor="#00A99D" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; display: block;">
	    	<span style="color: #ffffff;">
	       		<%= link_to "Upload my bill", "https://www.getsavvier.com/bill-upload", class: "email-button" %>
	    	</span>
	  	</td> 
	  </tr> 
  </table> 
</div>

<br />

<p>Once we have your bill, we'll take care of the rest – we'll research, call and negotiate a better rate on your behalf.</p>

<p>We'll charge you 1/3 of what we save you and you'll keep the rest.</p>

<p>If you have any questions, please don’t hesitate to reply to this email with them and we’ll get right back to you!</p>

<p>Saving you money,<br />
Matt & Sushmita<br />
Savvy Co-founders</p>
<br />