<% @title=": Mini-Challenge" %>
<script type="text/javascript">
    mixpanel.track("challenge_cc_info", {
        
    });
</script>

<body class="page-background">

	<section id="coach-section">
		<div class="coach-chat-triangle"></div>
	    <div class="coach-question">
	        We're tackling credit card debt first - and I just need a little more info to set up our first mini-challenge.
      	</div>
    </section>

    <script>
		$(document).ready(function(){
			for(i=1; i<2; i++) {
    			$('#chat'+i).hide(0).delay(1500*i).fadeIn(100).removeClass('hidden');
    		}
		});
	</script>


	<div id= "chat1" class="hidden" style="display:none;">
		<%= form_for @fin_profile do |f| %>

			<section id="user-section">
				
				<div class="spaced-row user-content">
					<div class="madlib-sentence">	
						My current approach is to pay<br/>
						<div class="dropdown-style inner-addon right-addon">
							<%= f.select :cc_approach, [['less than the minimum due', 'less than the minimum due'], ['the minimum due', 'the minimum due'],['more than the minimum due', 'more than the minimum due'], ['not sure', 'not sure'],  ], { include_blank: "this much toward my balance..." }, {:id => "dropdown", :required => true, :class => 'my-dropdown select'} %>
							<span class="glyphicon"><%= image_tag("dropdown-arrow.png", size: "10x10")%></span>
						</div>
					</div>
				</div>
			</section>

			<div id="SubmitButton" class="hidden" style="display:none;">
				<div class="button-row">
					<%= f.submit "Next", class: 'next-button' %>
				</div>
			</div>

			
			
		<% end %>
	</div>


</body>