<% @title=": Getting Started" %>
<script type="text/javascript">
    mixpanel.track("challenges_intro", {
        
    });
</script>

<body class="page-background">

  

  <script>
    $(document).ready(function(){
        for(i=1; i<2; i++) {
          $('#chat'+i).hide(0).delay(1000*i).fadeIn(100).removeClass('hidden');
        }
    });
  </script>

  
    <section id="coach-section">
        <div class="coach-chat-triangle"></div>
        <div class="coach-question">
          I'm a big believer in taking small steps that add up to big change. So our initial efforts may not feel huge, but over time they'll make a huge difference.
        </div>
    </section>

  <div id="chat1" class="hidden" style="display:none;">
    <section id="coach-section">
        <div class="coach-chat-triangle"></div>
        <div class="coach-question">
         I'll make this as simple and fun as possible!
        </div>
    </section>
    <div class="button-row">
        <%= link_to "Take my first step", first_challenge_route , class: 'next-button' %>
    </div>
    <div class="page-bottom-padding">
      <div class="padding-text">
        adding space below next button
      </div>
    </div>
  </div>

  
</body>