<% @title=": How It Works" %>
<script type="text/javascript">
    mixpanel.track("saver_how_it_works", {

    });
</script>

<script>
$(document).ready(function() {
  $('a[href*="#questions"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);

        
        return false;
      }
    }
  });

  
  
});

</script>


<body class="city-bottom blue-bkgd">

<div class="invite-signin-image">
  <%= image_tag("flying_pig_header.png", class:"saver-header-icon") %>
</div> 


<div class="saver-question-block">
    <div class="hero-title option-row">Why Savvy?<br /></div>
    <div style="color:#fff">
      <ul>
        <li>Most people overpay for their cable and internet. That stinks. </li>
        <li>Most people don't want to negotiate with their cable/internet companies. Understandable. </li>
        <li>There's real savings at stake – on average, we've saved people $300/year. Seriously.</li>
        <li>There's nothing to lose. You only pay us if we save you money.</li>
      </ul>
      <br />


   	<div style="margin-auto; text-align:center;">
      <%= link_to "Next", new_customer_registration_path, class:"next-button" %>
    </div>
    <div style="height:30px; color:transparent;">
      a
    </div>
  </div>
</div>

</body>

