<% @title=": How It Works" %>
<script type="text/javascript">
    mixpanel.track("saver_how_it_works", {

    });
</script>

<script>
$(document).ready(function() {
  $('a[href*="#questions"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);

        
        return false;
      }
    }
  });

  
  
});

</script>


<div class="header saver-header">
	<div class="saver-header-icon-block"><%= image_tag("piggybank2.png", class:"saver-header-icon") %> </div>
	<div class="saver-header-logo-block">	<%= image_tag("savvysaverlogo.png", class:"saver-header-logo") %></div>
		<br /> <hr class="saver-hr"/>
</div>


<div class="saver-question-block">
    <div class="big-headline option-row">Why Savvy?<br /></div>
    <div class="headline">
      <ul>
        <li>Most people overpay for their cable and internet. That stinks. </li>
        <li>Most people don't want to negotiate with their cable/internet companies. Understandable. </li>
        <li>There's real savings at stake – on average, we've saved people $300/year. Seriously.</li>
        <li>There's nothing to lose. You only pay us if we save you money.</li>
      </ul>
      <br />


   	<div style="margin-auto; text-align:center;">
      <%= link_to "Next", new_customer_registration_path, class:"next-button" %>
    </div>
    <div style="height:30px; color:transparent;">
      a
    </div>
  </div>
</div>


