<p>Happy new year! We're excited to help you kick off the new year right!</p>

<p>We just need your latest cable/internet bill and the phone number (companies usually ask for this to verify your account).</p>

<p>Take 2 minutes now to log in and get a screenshot or PDF of your latest bill. If you've forgotten your password, just click "Reset Password". These next two minutes could add up to a few hundred dollars this year!

<p>Reach out if you have any questions or if I can do anything to help. We can't wait to save you some money!</p>

<p>Cheers,<br />
Matt & Sushmita<br />
Savvy Co-founders</p>
<br />

