<p>Thanks for signing up for Savvy Saver!</p>


<p><%= @custom_message %></p>


<p><b>What we need:</b> Reply to this email with your latest cable / internet statement and your phone number. With that information, we will call and negotiate a better rate on your behalf.</p>


<p>How to send us the statement: You can either download a PDF of the latest statement from your provider and send that as an attachment or take a picture of your paper bill and send us the picture - whichever way is easiest for you to send us your latest statement works for us.</p>

<p>As a reminder, you only pay us if we save you more than $200 per year. If we save you more than $200, then we charge you $100. There’s no risk - you only pay if we save you more than double our fee.</p>


<p>If you have any questions, please don’t hesitate to reply to this email with them and we’ll get right back to you!</p>


<p>Saving you money,<br />
Matt & Sushmita<br />
Savvy Cofounders</p>