<p>Thanks for signing up for Savvy!</p>


<p><%= @custom_message %></p>

<p>Here's how Savvy saves you money:</p>
<ul>
	<li><i>We do all the work</i> — based on your last cable/internet bill, we research comparable deals and promotions. Then, we call your provider to negotiate a better rate on your behalf.</li>
	<li><i>You keep the same services</i> — we make sure that your channels and internet speeds don’t change.</li>
	<li><i>You only pay if you save</i> — we guarantee to save you more than $200 per year and, if we succeed, we charge you $100. If we don’t save you more than $200 per year, there’s no cost to you. Simple and risk-free.</li>
</ul>


<p>What we need: <b>reply to this email with your most recent cable / internet statement and your phone number</b>. With that information, we will call and negotiate a better rate on your behalf.</p>

<p>How to send us the statement: you can either download a PDF of the latest statement from your provider and send that as an attachment or take a picture of your paper bill and send us the picture.</p>


<p>If you have any questions, please don’t hesitate to reply to this email with them and we’ll get right back to you!</p>


<p>Saving you money,<br />
Matt & Sushmita<br />
Savvy Cofounders</p>