<p>Thanks for signing up for Savvy!</p>


<p><%= @custom_message %></p>

<p><b>Just reply to this email with your most recent cable / internet bill and your phone number</b>. With that information, we'll research, call and negotiate a better rate on your behalf. If we save you more than $200 per year, you'll pay us $100 – you only pay if you save.</p>

<p>You can either download and attach a PDF of your latest bill, take a screenshot, take a picture of your paper bill – whatever method is easiest for you! </p>

<p>If you have any questions, please don’t hesitate to reply to this email with them and we’ll get right back to you!</p>

<p>Saving you money,<br />
Matt & Sushmita<br />
Savvy Co-founders</p>
<br />
<p><u>How Savvy Works</u></p>
<ul style="padding-left:15px;">
	<li style="margin-left:0px;margin-bottom:8px;"><i>We do all the work</i> — based on your last cable/internet bill, we research comparable deals and promotions. Then, we call your provider to negotiate a better rate on your behalf.</li>
	<li style="margin-left:0px;margin-bottom:8px;"><i>You keep the same services</i> — we make sure that your channels and internet speeds don’t change.</li>
	<li style="margin-left:0px;margin-bottom:8px;"><i>You only pay if you save</i> — we guarantee to save you more than $200 per year and, if we succeed, we charge you $100. If we don’t save you more than $200 per year, there’s no cost to you. Simple and risk-free.</li>
</ul>





