<h1>Ok, let’s figure out when you can <b>buy a house</b>!</h1>
<!--h2>First, give us some specifics about your loan.</h2-->

<ul>
<li>What'd your budget for a home?</li>
<li>____________________</li>
<br>
<li>How much do you want to save for a down payment?</li>
<li>____________________</li>
<br>
<li>For how long do you plan to own this home?</li> 
<li>____________________</li>
