<script type="text/javascript">
    mixpanel.track("goals_index", {
        
    });
</script>
<div style="margin-top:20%">
<section id="intro-page">
	<div class="intro_image_block"><%= image_tag("savvy_thumbnail.png", style:"width:150px;height:auto;") %> </div>
	<p class="app-tagline"> Welcome to Savvy </p>
	<p class="button-row"><%= link_to "Get Started", new_user_registration_path(email: params[:email]), class:"next-button" %></p>
	<br />
</section>
</div>
<% if user_signed_in? %>
	<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% end %>


