<body class="page-background">
<!--div class="container-fluid"-->
<section id="coach-section">
	<div class="coach-header">COACH SAVE-A-LOT
	</div>
	
	<div class="coach-question">Hey there, thanks for dropping in. What brings you here?
	</div>
</section>

<section id="user-section">
	<div class="spaced-row">
		<span class="madlib-sentence">
			<span class="reason">I want to know more about money because 
				<input type="text" placeholder="I want to pay off my debt" maxlength="80" name="why_here" class="madlib-sentence border-underline" />.
			</span>
		</span>
	</div>
	<div class="spaced-row">
		<span class="madlib-sentence">			
			<span class="money_feeling">But wading through my finances makes me feel
					<input type="text" placeholder="overwhelmed" maxlength="30" name="money_feels" class="madlib-sentence border-underline" />.
			</span>	
		</span>
	</div>
	<div class="button-row">
		<input type="submit" class="btn-default" value=">" />
	</div>
</section>


</body>
