<h1>What keeps you up at night?</h1>
<ul>
	<li><%= link_to "When can I pay off my loan?", goals_loan_path %></li>
	<li><%= link_to "When can I buy a house?", goals_house_path %></li>
	<li><%= link_to "When can I retire?", goals_retirement_path %></li>
</ul>