
<div class="container-fluid">
  <div class="row">
		<h1>Hey there, thanks for dropping in. What brings you here?
		</h1>
	<br /><br />
		<span class="madlib-sentence">
			<span class="reason">I want to know more about money because 
			<input type="text" placeholder="I want to pay off my debt" maxlength="80" name="reason" class="madlib-sentence border-underline"/>.
			</span><br />
			<span class="money_feeling">But wading through my finances makes me feel
			<input type="text" placeholder="overwhelmed" maxlength="30" name="money_feeling" class="madlib-sentence border-underline" />.
		</span>
		</div>
	
</row>
</div>
</div>
</div>


