<body class="page-background">
<section id="coach-section">
	<div class="coach-header">COACH SAVE-A-LOT
	</div>
	
	<div class="coach-question">Hey there, thanks for dropping in. What brings you here?
	</div>
</section>

<section id="user-section">
<%= form_for @user do |f| %>
	<div class="spaced-row">
		<span class="madlib-sentence">
			<span class="reason">I want to know more about money because 
				<%= f.text_field :name, class: "madlib-sentence border-underline", placeholder: "I want to pay off my debt" %>
			</span>
		</span>
	</div>
	<div class="spaced-row">
		<span class="madlib-sentence">			
			<span class="money_feeling">But wading through my finances makes me feel
					
					<%= f.telephone_field :age, class: "madlib-sentence border-underline", placeholder: "overwhelmed" %>.
			</span>	
		</span>
	</div>

	<div class="button-row">
		<%= f.submit "Next", class: 'btn-default' %>
	</div>
	<% end %>


<a id="get_started"></a>
<div style="height: 600px;">
asdfashdjkfhaskjdf
</div>
blah blah blah

</section>



</body>
