<script src="jquery-1.12.4.min.js"></script>
<body class="page-background">
<div class="splash-section">
	<%= image_tag("savvy-logo.png", class: "logo") %>
	<p class="coach-question"> Start your journey to a better tomorrow </p>
	<p><%= image_tag("hot-air-balloon.png", class:"splash-image") %></p>
	<p><%= link_to "Get My Savvy Score", goals_introductions_path, class:"next-button" %></p>
</div>


</body>

