<script type="text/javascript">
    mixpanel.track("investing_landing_page", {
        
    });
</script>



<body class="splash-background">
	<div class="splash-banner">
		<div class="banner-image">
		</div>
	</div>
	<div class="splash-section">
		<div class="splash-question"> Ready to invest, but unsure where to start?</div>

		<div class="signup-instruction">
			Sign up to get help investing.
		</div>

		<div class="row">
		<div class="field-col email-field">
			<%= form_for @beta_user do |f| %>
				<%= f.email_field :email, placeholder: "your email address", class:"email-field" %>
		</div>
		<div class="btn-col">
				<%= f.submit ">", class:"signup-button" %>
			<% end %>
		</div>
		</div>

		<div class="signup-incentive">
			First 100 sign-ups will get a
			free, personalized session.
		</div>
	</div>
</body>
