<script type="text/javascript">
    mixpanel.track("investing_landing_page", {
        
    });
</script>



<div class="splash-background">
	<div class="splash-banner">
		<div class="banner-image">
		</div>
	</div>
	<div class="splash-section">
		<div class="splash-question"> Ready to invest, but unsure where to start?
		</div>

		<div class="signup-instruction">
			We're building a service to help you invest. Your feedback while we're in beta would be much appreciated.
		</div>

		<div>
			<%= link_to "Get started now", goals_introductions_path, class: 'next-button' %>
		</div>
	</div>
</div>

<div class="module-2 module-2-height">
	<div class="module-title">We'll help you invest in 3 simple steps</div>
	<row>
	
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
			<div class="step-icon"><%= image_tag("step1_icon.png", class:'step-icon') %></div>
			<div class="step-title">1. Get to know you </div>
			<div class="step-subtext">We want to understand your situation, your concerns, your goals.</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
			<div class="step-icon"><%= image_tag("step2_icon.png", class:'step-icon') %></div>
			<div class="step-title">2. Make a recommendation </div>
			<div class="step-subtext">We'll figure out which options make most sense for you and give you our recommendation.</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
			<div class="step-icon"><%= image_tag("step3_icon.png", class:'step-icon') %></div>
			<div class="step-title">3. Make an investment </div>
			<div class="step-subtext">We'll walk you through making an investment so that you have guidance along the way.</div>
		</div>

	</row>
</div>


<div class="module-3">
	<div class="module-title">Our Mission</div>
	<p class="mission-text">We're on a mission to help everyone feel comfortable with investing. We know far too many people who feel uncertain about what to do with their money. We believe deeply in the power of putting your money to work and want to help everyone reap the benefits.</p>
	<p class="mission-text">We don't receive any referral compensation or kickbacks so our recommendations are unbiased and focused on what's best for you.</p>
	</div>
</div>
