<h1>Ok, let’s figure out when you can <b>pay off your loans</b>.</h1>
<!--h2>First, give us some specifics about your loan.</h2-->

<ul>
<li>How much do you still owe (i.e. your loan balance)?</li>
<li>____________________</li>
<br>
<li>What's the interest rate on your loan?</li>
<li>____________________</li>
<br>
<li>How many more months do you have on your loan?</li> 
<li>____________________</li>
