<script type="text/javascript">
    mixpanel.track("beta_thanks", {
        
    });
</script>



<body class="thanks-background">
	<div class="thanks-banner">
		<div class="thanks-banner-image">
		</div>
	</div>
	<div class="splash-section">
		<div class="splash-question"> Thanks for signing up!</div>
		<div class="thanks-message"> We're working hard and will let you know as soon as Savvy is ready for you.</div>
</body>
