.about-pics-block{
    width: 50%;
    display: inline-block;
    float: left;
    margin-top: 5%;
}

.about-pics-photo{
	width:80%;
	text-align:center;
	margin:auto;
}

.about-pics-text{
	margin-top:5%;
}

.about-blurb-headline{
	font-size: 28px;
	font-weight:500;
	margin-bottom:10px;
}