/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url('http://fonts.googleapis.com/css?family=Lato');

html{
  height: 100%;
}

.page-background{
 /* background-color: #2F6071;  dark blue */
 /* background-color: #43525D;  dark gray */
 /* background-color: #133e49; dark teal */
 background-color: #125D70;
}


.gradient{
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    margin:auto;
    position: absolute;
    bottom:0;
  }

hr { width:100%; height:-0.5px; background: #fff; margin-top:0; }
a { color:#fff;}
a:hover{ color: #FAD472; text-decoration: none;}
a:focus { color: #FAD472; text-decoration: underline;}

.emoticon{
  margin-top:-10px;
}

.unbolded-label{
  font-weight:normal;  
}

.next-button{
  border: 1px solid #fff;
  background-color: transparent;
  color:#FFF;
  padding:10px;
  text-align: center;
  border-radius:4px;
  margin: auto;
}

.next-button:active{
    background-color: #FFF;
    color: #43767A;
    border: none;
    border: 1px solid #FFFFFF;
}




@media screen and (max-width: 350px) {

  h1 {
     font-size: 18px;
     line-height:30px;
     font-family: Helvetica, sans-serif;
     font-weight: 300;
     text-align: left;
   }

   
   body{
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    color:#ffffff;
   }


  .top-nav{
    width:100%;
    position: relative;
  }

  .top-logo{
    height: 30px;
    width: auto;
    margin: 3px 10px;
  }

  .subtle-logo{
    margin: auto;
    margin-top:3%;
    width:25%;
    height:auto;
    display:block;
  }


.top-margin{
  margin-top: 20px;
}

  .spaced-row{
    margin-bottom: 20px;
  }

  .button-row{
    margin-top: 25px;
    width: 100%;
    display: block;
    text-align: center;
  }
  
}






@media screen and (min-width: 350px) and (max-width: 480px) {

  h1 {
     font-size: 18px;
     line-height:30px;
     font-family: Helvetica, sans-serif;
     font-weight: 300;
     text-align: left;
   }

   
   body{
   	font-size: 16px;
   	font-family: Helvetica, sans-serif;
    font-weight: 300;
    color:#ffffff;
   }


  .top-nav{
    width:100%;
    position: relative;
  }

  .top-logo{
    height: 30px;
    width: auto;
    margin: 3px 10px;
  }

  .subtle-logo{
    margin: auto;
    margin-top:3%;
    width:25%;
    height:auto;
    display:block;
  }

  .spaced-row{
    margin-bottom: 20px;
  }

  .button-row{
    margin-top: 25px;
    width: 100%;
    display: block;
    text-align: center;
  }

}

@media screen and (min-width: 480px) {


  h1 {
     font-size: 24px;
     line-height:32px;
     font-family: 'Lato', 'Gill Sans', Helvetica, sans-serif;
     font-weight: 300;
     text-align: left;
   }

   
   body{
    font-size: 16px;
    line-height:2;
    font-family: 'Lato', 'Gill Sans', Helvetica, sans-serif;
    font-weight: 300;
    color:#ffffff;
   }


  .top-bar{
    background-color:#22465E;
    height: 50px;
  }

.top-nav{
    width:100%;
    position: relative;
  }

  .top-logo{
    height: 60px;
    width: auto;
    margin: 10px 10px;
    padding: 10px 10px;
  }


  .spaced-row{
    margin-bottom: 20px;
  }

  .button-row{
      margin-top: 25px;
      width: 100%;
      display: block;
      text-align: center;
      margin-bottom: 30px;
    }

  .next-button{
    font-size: 16px;
  }

    .next-button:hover{
      font-size:16px;
      color:#FFF;
    }

    .next-button:active{
      font-size:16px;
    }

}


  






