.terms-pane  { 
  width:800px;  
  height:370px; 
  overflow:scroll; 
  border:1px solid #ccc; 
  background:#ddd; 
  margin:5px 0; 
  padding:10px 20px; 
}

.highlights-block{
  width:800px;
  margin:auto;
}

.bill-file-row{
//	height:150px;
	width:80%;
	margin:auto;
}

.bill-step{
  width: 30px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;

}

.consent-button{
  cursor:pointer;
}

.consent-label{
  text-align: left;
  font-size: 14px;
  font-weight:500;
  color: #000;
  line-height: 26px;
}



.bill-file-name-block{
	height:100%;
	width:70%;
	float:left;
	display:inline-block;
}

.bill-select-btn-block{
	width:30%;
	display:inline-block;
	position: relative;
}

.bill-select-btn{
	width:100%;
	height:100%;
	text-align:center;
	background-color:lightblue;
}

.bill-select-link{
  width:100%;
  height:100%;
  text-decoration: underline;
  color: lightblue;
}


.progress {
  max-width: 600px;
  margin:    auto;
  height: 10px !important;
  width:100%;
  margin-top:10px;
}

.progress .bar {
  height:  100%;
 // padding-left: 0.2em;
  color:   white;
  display: none;
  border-radius: 4px;
}

.barContainer{
	height:10px;
}

.phonenum{
  color:#333;
  font-size:15px;
}

.directUpload {
 
}

.bill-upload{
  vertical-align: middle;
  padding: 20px;
}

.bill-upload-block{
  text-align: center;
}

.fileContainer {
    overflow: hidden;
    position: relative;
//    background: #84D1B5;
    color: teal;
    background: transparent;
    text-decoration:none;
 //   height:150px;
    padding-top:10px;
}

.fileContainer [type=file] {
    cursor: pointer;
    display: block;
    opacity: 0;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.bill-upload-headline{
  width: 85%;
  text-align: center;
  font-size:18px;
  font-weight:500;
  color: #333;
  margin: auto;
}

.bill-icon{
  width: auto;
  height: 40px;
}

@media screen and (max-width: 480px) {

  .terms-pane  { 
    width:100%;  
    height:300px; 
    overflow:scroll; 
    border:1px solid #ccc; 
    background:#ddd; 
    margin:5px 0; 
    padding:10px 20px; 
  }

  .highlights-block{
    width:100%;
  }

  .bill-select-btn-block{
    width:80%;
  }
  
  .bill-upload-text{
    width: 85%;
    margin: auto;
    text-align: left;
    height: auto;
    vertical-align: middle;
    padding-top: 4%;
  }

  .progress {
    max-width: 600px;
    margin:    auto;
    height: 10px !important;
    margin-top:10px;
  }

  .consent-button{
    width:80%;
  }

}

@media screen and (min-width: 480px) and (max-width:700px){

  .bill-upload-text{
    width: 70%;
    margin: auto;
    text-align: left;
    height: auto;
    vertical-align: middle;
    padding-top: 4%;
  }
  .consent{
    width:50%;
    text-align:center;
    margin:auto
  }
}

@media screen and (min-width:700px){

  .saver-question-block{
    width: 66%;
    margin: auto;
    text-align: left;
    height: auto;
    vertical-align: middle;
    padding-top: 4%;
  }
  .consent{
    width:50%;
    text-align:center;
    margin:auto
  }

  .consent-button{
    width:40%;
  }
}