// Place all the styles related to the challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.dollar-sign-field{
  padding-left: 4px;
  padding-right: 5px;
  display: inline-block;
  color: #F6D185;
  width: 100px;
  border:none;
}

.percentage-field{
	width:60px;
	border:none;
}

#mini-challenge{
	width:100%;
//	background-color:#E99C4A;
//	border: 4px solid #F1C669;
	margin:auto;
	text-align: center;
	position: relative;
}

.challenge-header-image{
	width: 100%;
	margin:auto;
	position: relative;
}

.challenge-header-textgroup{
	margin: auto;
  position: absolute;
  top:6%;
  font-family: 'Gill Sans', Tahoma, Geneva, sans-serif;
  text-align: center;
  width:100%;
}

.challenge-title{
	font-size: 16px;
	text-align:center;
	margin-bottom:5px;
}

.challenge{
	font-weight:300;
	font-size:20px;
	margin-bottom:5px;
	width:70%;
	margin:auto;
}

.challenge-separator{
	margin-top:10px;
	margin-bottom:10px;
}

.big-number{
	font-family:Arial;
	font-size: 20px;
	margin-bottom: -5px;
	text-align:center;
	line-height:1.5;
}

.med-number{
	font-family:Arial;
	font-size: 14px;
	margin-bottom: -5px;
	text-align:center;
	line-height:1.2;
}

.comment-field{
  	display: inline-flex;
	border-bottom: 1px solid #FFF;
	width: 70%;
	white-space: nowrap;
}

.challenge-icon{
	width: 50px;
	height: auto;
}