/*
 *
 * COACH SECTION CSS STYLINGS
 *
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";


/**************** mobile phone styling *****************/
@media screen and (max-width: 480px) {
  #coach-section{
    width:80%;
    background-color:#367D8E;
    padding-bottom:20px;
    padding-top:15px;
    margin: auto;
    margin-top: 15px;
    position: relative;

   }
}


/**************** desktop web styling *****************/
@media screen and (min-width: 480px) {
  
#coach-section{
    width:60%;
    background-color:#367D8E;
    padding-bottom:20px;
    padding-top:15px;
    margin: auto;
    margin-top: 15px;
    position: relative;

   }

}


/**************** both mobile and desktop *****************/

.coach-chat-triangle{
  content: "";
  position: relative;
  top: -15px;
  left: -15px;
  width: 0;
  height: 0;
  border: 10px solid #367D8E;
  border-left-color: transparent;
  border-bottom-color: transparent;
  float: left;
}

.coach-question{
  margin-top: -25px;
  font-weight: 300;
  color: #fff;
  width: 90%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  border-radius:4px;
  line-height: 1.3;
  text-align: left;
  position: relative;
}

.main-question{
  font-weight:400;
  text-align: left;
  margin-top: 5px;
}




#savvy-score-section{
  width:100%;
  position: relative;
  margin: auto;
}

.savvy-score-bgimage{
  width: 100%;
  margin:auto;
  position: relative;
}

.score-circle{
  //background-image: image-url("score-circle.png");
  background-repeat: no-repeat;
  margin: auto;
  display: block;
  max-width: 244px;
  height: 100%;
  position: relative;
  text-align: center;
}

.savvy-score-textgroup{
  margin: auto;
  position: absolute;
  padding-top:25%;
  top:-28%;
  text-align: center;
  width:100%;
}
.savvy-score-title{
  font-size: 15px;
  text-align:center;
}

.score-total{
  font-size: 15px;
  margin-top: -3px;
}

.savvy-score{
  font-size: 48px;
  font-weight:500;
  margin-top: -10px;
  color:#fff;
}


#first-priority{
  text-align: center;
  padding-top:15px;
  font-size:18px;
}