/*
 *
 * COACH SECTION CSS STYLINGS
 *
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";


#coach-section{
  width:80%;
  background-color:#00A99D;
  padding-bottom:20px;
  padding-top:15px;
  margin: auto;
  margin-top: 15px;
  position: relative;

 }

.coach-chat-triangle{
  content: "";
  position: relative;
  top: -15px;
  left: -15px;
  width: 0;
  height: 0;
  border: 10px solid #00A99D;
  border-left-color: transparent;
  border-bottom-color: transparent;
  float: left;
}

.coach-question{
  margin-top: -25px;
  font-size: 16px;
  font-family: 'Gill Sans', Tahoma, Geneva, sans-serif;
  font-weight: 300;
  color: #fff;
  width: 90%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  border-radius:4px;
  line-height: 2.0;
  text-align: left;
  position: relative;
}

.main-question{
  font-weight:400;
  font-size: 16px;
  font-family: 'Gill Sans', Tahoma, Geneva, sans-serif;
  text-align: left;
  margin-top: 5px;
}

.coach-icons{
  height:25px;
  width: 25px;
  margin-left:5px;
}

.future-story{
  font-size: 14px;
  font-family: 'Gill Sans', Tahoma, Geneva, sans-serif;
  width: 90%;
  padding-left: 20px;
  padding-right: 10px;
  text-align: left;
  margin-left: 15px;
  line-height: 2.0;

}

.future-story-bkgd{
  background-color:#25605B;
}

#savvy-score-section{
  background-image: image-url("savvy-score-bkgd.png");
  background-size: cover;
  height: 250px;
  background-repeat: no-repeat;
  position: relative;
}

.score-circle{
  background-image: image-url("score-circle.png");
  background-repeat: no-repeat;
  margin: auto;
  display: block;
  max-width: 244px;
  height: 100%;
  position: relative;
  text-align: center;
}

.savvy-score-textgroup{
  margin: auto;
  position: absolute;
  padding-top:25%;
  width: 100%;
  font-family: 'Gill Sans', Tahoma, Geneva, sans-serif;
  text-align: center;
}
.savvy-score-title{
  font-size: 18px;
}

.savvy-score{
  font-size: 48px;
}

.score-total{
  font-size: 18px;
}

#first-priority{
  text-align: center;
  padding-top:15px;
  font-size:18px;
}