


.dashboard_header{
	width: 100%;
	background-color: white;
	padding-top:1%;
	padding-bottom: 1%;
	top:0;
	z-index:3;
	border-bottom: 1px solid #ddd;
	text-align:center;
	margin:auto;
}

.dashboard-header-icon-block{
    display: inline-block;
    
}

.dashboard-header-icon{
	width:100%;
	margin:auto;
}

.dashboard-header-logo-block{
	margin-top: .5%;
	position: relative;
    width: 62%;
    display: inline-block;
}

.dashboard-header-logo{
	width:100%;
	height:auto;
}

.dashboard-big-headline{
  font-size:16px;
  font-weight:500;
  color: #333;
  margin-top:20px;
  margin-bottom:10px;
}

.dashboard-headline{
  font-size: 14px;
  font-weight:500;
  color: #333;
}

.dashboard-content-block{
	background-color:#eee;
	width: 100%;
	text-align: center;
	margin: auto;
	padding: 6%;
}

.dashboard-main-module{
	background-color:#fff;
	border: 1px solid #ddd;
	padding:20px;
	margin-bottom: 20px;
}

.dashboard-main-module-icon-block{
	width:60px;
	text-align:center;
	margin:auto;
	margin-bottom: 10px;
}

.dashboard-main-module-icon{
	width:90%;
	margin:auto;
}

.dashboard-sub-module{
	width:40%;
	padding:4%;
	border: 1px solid #ddd;
	background-color:#fff;
	display:inline-block;
}

.dashboard-link{
	color:#00A99D !important;
}

.nav-right-items{
	list-style: none;
	float:right;
}


@media screen and (max-width: 480px) {

	.dashboard-header-icon-block{
		width:26%;
	}

	.dashboard-header-logo-block{
		width: 40%;
	}

	.dashboard-main-module-icon-block {
    	width: 24%;
    }

    .dashboard-sub-module{
    	width:100%;
    	margin-bottom:20px;
    }

    .dashboard-sub-module-icon-block{
    	width:60px;
		text-align:center;
		margin:auto;
		margin-bottom: 10px;
    }


    .nav-right{
    	display:none;
    }

    .nav-right-items{
		list-style: none;
    	float: none;
    	line-height: 2em;
    	padding-left: 0;
	}

}


@media screen and (min-width: 480px) and (max-width:700px){

	.dashboard-header-icon-block{
		width: 18%;    
	}

	.dashboard-header-logo-block{
		width: 30%;
	}

	.dashboard-sub-module{
		display: inline-block;
		width:49%;
		height:140px;
		margin-bottom:20px;
		padding: 20px 10px 10px 20px;
	}

	 .dashboard-sub-module-icon-block{
	 	width:60px;
		text-align:center;
		margin:auto;
		margin-bottom: 10px;
    }

    .dashboard-sub-module-left{
    	float:left;
    }

    .nav-right{
    	display:none;
    }

}



@media screen and (min-width:700px){
	
	.dashboard_header{
		min-height:80px;
	}

	.dashboard-header-icon-block{
		width: 10%;  
	}

	.dashboard-header-logo-block{
		width: inherit;
	    float: left;
	    margin-left: 20px;
	    max-width: 150px;
	}

	.nav-right{
	    display: block;
	    float: right;
	    margin-right: 2%;
	    width:60%;
	    margin-top: 18px;
	}

	

	.nav-right-items li{
		position: relative;
	    display: block;
	    float: left;
	    margin-right:40px;
	}

	.dashboard-content-block{
		padding: 3% 6%;
	}

	.dashboard-sub-module{
		display: inline-block;
		width:49%;
		height:140px;
		margin-bottom:20px;
		padding: 20px 10px 10px 20px;
	}

	 .dashboard-sub-module-icon-block{
	 	width:60px;
		text-align:center;
		margin:auto;
		margin-bottom: 10px;
    }

    .dashboard-sub-module-left{
    	float:left;
    }

    .dashboard-big-headline{
    	font-size:21px;
    }

}