.email-body {
	/*padding: 50px 80px 50px 80px;*/
	padding-left: 10%;
	padding-top: 10%;
	padding-right: 25%;
	font-family:Arial, Verdana;
	line-height:1.4;
}

.list {
	line-height: 1.5;
}

.email-link{
	color:#00A99D;
}

.email-button{
	font-size:16px; 
	font-weight: bold; 
	font-family:sans-serif; 
	text-decoration: none; 
	line-height:40px; 
	width:100%; 
	display:inline-block;
	color: #ffffff;
}