

.footer-links{
	padding-top: 12px;
    float: right;
}

.footer-link{
	margin-right:22px;
}


.footer-nav-right{
	display: block;
    float: right;
    margin-right: 2%;
    width:90%;
    margin-top: 18px;
}

@media screen and (max-width: 480px) {
	
	.footer-logo{
		width:50%;
		margin:auto;
		margin-top: 15px;
	}

	.footer-link{
		margin-top:20px;
		margin-bottom:10px;
	}

	.footer-nav-right{
		text-align:center;
		float:none;
		width:100%;
	}


}


@media screen and (min-width: 480px) and (max-width: 960px) { /* tablets */

	.footer-logo{
		width: 70%;
    	margin-top: 8px;
		float:left;
		display:inline-block;
	}

	.footer-nav-right{
		text-align:center;
		float:none;
	}



}

@media screen and (min-width: 960px){
	
	.footer-logo{
		width:45%;
		display:inline-block;
		float:left;
	}
}