#user-section-future{
  width:90%;
  margin-top:15px;
  padding-top:20px;
  margin: auto;
}


.future-story{
  font-style: italic;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  text-align: left;
  line-height: 2.0;
}



.row-future{
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 30px;
  height: auto;
  width: 100%;
}

.future-date{
  font-weight:400;
  font-size:18px;
  color: #F6D185;
  padding-left:10%;
}

.text-field-future{
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  width: 140px;
}


.col-madlibs-question{
  padding-right: 5px;

  float: left;
  width: 40%;
  text-align: right;

}

.col-madlibs-field{
  padding-right: 5px;
  padding-left: 5px;
  display: inline-block;
  margin-top:-.8em;
  color: #F6D185;
  width: 60%;
}

.hr-future{
  margin-top:20px;
  width: 100%;
}