.hero_section{
  background-color:#0a8d9d;
  text-align:center;
  margin:auto;
  display: inline-block;
  margin-bottom: -10px;
}


.lp_button{
  border: 2px solid #1e3646;
  background-color: #1e3646;
  color: #fff;
  font-family: 'Raleway', 'Museo Sans', sans-serif;
  font-size:16px;
  font-weight:500;
  padding: 10px 30px;
  text-align: center;
  border-radius:0px;
  margin: auto;
  text-decoration: none !important;
}

.lp_button:active{
  background-color:#14242d;
  color: #14242d;
  outline:0;
  text-decoration: none;
}

.lp_button:disabled{
    opacity:0.5;
}

.lp_button:hover{
  background-color:#2c5968;
  border: 2px solid #2c5968;
  color:#fff;
  text-decoration: none;
}

.lp_footer{
    background-color: #21434c;
    padding: 20px 35%;
    width: 100%;
    text-align: center;
    margin: auto;
  }



.lp_details_section{
  background-color:#2c5968;
  text-align:center;
  margin:auto;
  padding:30px 20px 50px 20px;
  display: inline-block;
  margin-bottom:-8px;
  margin-top:-10px;
}


@media screen and (max-width: 480px) {  /* mobile */
  
  .lp_hero_image_block{
    width:68%;
    margin:auto;
  }

  .hero_section{
    padding: 40px 40px 15px 40px;
  }


  .lp_headline{
    font-family: 'Raleway', 'Museo Sans', sans-serif;
    font-size:28px;
    font-weight: 500;
    color: #fff;
    padding: 15px 0px 5px 0px;
  }

  .lp_subline{
    font-family: 'Raleway', 'Museo Sans', sans-serif;
    font-size:16px;
    font-weight: 500;
    color: #fff;
    padding: 10px 10px;
  }

  .lp_down_caret{
    text-align: center;
    margin: auto;
    margin-bottom: 0px;
    display: inline-block;
    margin-top: 30px;
    width: 100%;
    opacity: .6;
  }

  .lp_subimage{
    width:40%;
    margin:auto;
  }

  .lp_explanation{
    font-family: 'Raleway', 'Museo Sans', sans-serif;
    font-size:14px;
    font-weight: 500;
    color: #ddd;
    padding: 0px 10px 10px 10px;
  }

}

@media screen and (min-width: 480px) and (max-width: 960px) { /* tablets */

  .lp_hero_image_block{
    width:68%;
    margin:auto;
  }

  .hero_section{
    padding: 160px 20px 20px 20px;
  }

  .lp_hero_text_block{
    padding-top: 2%;
    text-align: left;
  }

  .lp_headline{
    font-family: 'Raleway', 'Museo Sans', sans-serif;
    color: #fff;
    font-size: 30px;
    font-weight:500;
    padding: 15px 0px;
  }

  .lp_button{
    font-size:21px;
  }

  .lp_subline{
    font-family: 'Raleway', 'Museo Sans', sans-serif;
    font-size:21px;
    font-weight: 300;
    color: #fff;
    padding: 10px 0;
  }

  .lp_down_caret{
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    display: inline-block;
    margin-top: 100px;
    width: 100%;
    opacity: .6;
  }


  .lp_subimage{
    width:40%;
    margin:auto;
  }

  .lp_explanation{
    font-family: 'Raleway', 'Museo Sans', sans-serif;
    font-size:16px;
    font-weight: 300;
    color: #fff;
    padding: 0px 10px;
  }

  .lp_details_section{
    padding: 0px 20px 50px 20px;
  }

  .lp_detail{
    padding:0px 10px;
  }

  .lp_footer{
    padding: 2% 45%;
  }


}


@media screen and (min-width: 960px) { /* web */

  .lp_hero_image_block{
    width:68%;
    margin:auto;
  }

  .hero_section{
    padding: 150px 20px 20px 20px;
  }

  .lp_hero_text_block{
    padding-top: 3%;
    margin-left: 5%;
    text-align: left;
  }

  .lp_headline{
    font-family: 'Raleway', 'Museo Sans', sans-serif;
    color: #fff;
    font-size: 36px;
    font-weight:500;
    padding: 15px 0px;
  }

  .lp_button{
    font-size:21px;
  }

  .lp_subline{
    font-family: 'Raleway', 'Museo Sans', sans-serif;
    font-size:21px;
    font-weight: 300;
    color: #fff;
    padding: 10px 0;
  }

  .lp_down_caret{
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    display: inline-block;
    margin-top: 100px;
    width: 100%;
    opacity: .6;
  }


  .lp_subimage{
    width:32%;
    margin:auto;
  }

  .lp_explanation{
    font-family: 'Raleway', 'Museo Sans', sans-serif;
    font-size:16px;
    font-weight: 300;
    color: #fff;
    padding: 0px 10px;
  }

  .lp_details_section{
    padding: 20px 20px 50px 20px;
  }

  .lp_detail{
    padding:0px 10px;
  }

  .lp_footer{
    padding: 2% 45%;
  }


}
