.homepage-background{
  background-color: #133e49;
  height:100%;
}

#homepage-content{
  width:100%;
}



.homepage-top-content{
  width:90%;
  margin:auto;
  margin-top:5%;
  padding: 15px 15px;
  text-align: center;  

}

.homepage-title{
  font-size: 21px;
  text-align:center;
}

.action{
  margin-top:15px;
  margin-bottom:15px;
}





.piggy-bank-group{
  margin-bottom:5px;
  margin-top:15px;
  width:100%;
  margin:auto;
}

.bank-icon{
  width: 26%;
  height: auto;
  padding: 7px 0px;
  margin: 2px;
  cursor: pointer;
}



.ribbon-content{
  background-image: url("ribbon.png");
  background-size: cover;
  width: 85%;
  padding: 10px;
}

.small-score-balloon{
  background-image:url('small-balloon.png');
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  width: 36px;
  height:54px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top:7px;
  padding-left:3%;
  color:#5FC4A7;
}

.ribbon-text{
    position: absolute;
    margin-left: 5px;
    width: 60%;
    display: inline-block;
    color:#5FC4A7;
    padding-top:7px;
    font-size:14px;
}




.secondary-links{
  height: 50px;
  width: 100%;
  margin: auto;
//  margin-top: 20px;
  padding: 7px 7px;
  position: fixed;
  bottom:0;
  background-color: #0E2C33;
}

.sign-out-icon{
  position:absolute;
  width:30px;
  height:30px;

}

.help-icon{
  margin-left:50px;
  width:30px;
  height:30px;
  display:inline-block;
}

.feedback{
  color: #40787c;
  font-size: 14px;
  right: 15px;
  height: 30px;
  position: absolute;
  width: 100px;
  padding-top: 5px;
  display: inline-block;
  text-decoration: underline;

}
