// Place all the styles related to the intro controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 *
 * USER SECTION CSS STYLINGS
 *
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";




/******* PAGE FORMATTING ******/

.page-bottom-padding {
  height: 80px;
  position: relative;
}

.padding-text {
  color: #133e49;
  background-color: #133e49;
  position: absolute;
  bottom: 0;
  left: 0;
}