// Place all the styles related to the Invites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***********************************************/
/********** Global Invites variables ***********/
/***********************************************/

.invite-header{
	width: 100%;
    background-color: white;
    padding-top: 0;
    margin-top: 0;
    z-index: 3;
}


.invite-header-icon-block{
    margin: auto;
    width: 7%;
    text-align: center;
}

.invite-hr{
	margin-top:1%;
}

.invite-button{
  border: 2px solid #e5806c;
  background-color: #e5806c;
  color: #fff;
  padding: 10px 30px;
  text-align: center;
  border-radius:0px;
  margin: auto;
  text-decoration: none;
  margin-top:30px;
}

.invite-button:active{
  background-color:#c66e60;
  color: #c66e60;
  outline:0;
  text-decoration: none;
}

.invite-button:disabled{
    opacity:0.5;
}

.invite-button:hover{
  background-color:#f4907f;
  border: 2px solid #f4907f;
  color:#fff;
  text-decoration: none;
}

.city-bottom{
	background-image: url('cityscape.png');
	background-position: center bottom;
    background-repeat: no-repeat;
    width:100%;
    height:160px;
}



/***********************************************/
/********** Invite and Thanks pages ************/
/***********************************************/

.refer-type-title{
	//margin-bottom: 20px;
   // background-color: #aaa;
    padding: 10px;
   // color: #fff;
   color:#333;
    font-weight:400;
    padding: 16px 0;
}


.link-tooltip .tooltiptext {
    width: 60px;
    background-color: transparent;
    color: #fff;
    text-align: center;
  	margin-top:10px;
  	margin:auto;
    /* Position the tooltip text - see examples below! */
    position: relative;
    z-index: 1;
}

.editable-link{
	padding: 14px 10px;
    pointer-events: none;
    color: #bbb !important;
}

.link-tooltip{
    position: relative;
    //display: inline-block;
    display:none;
}

.refer-title-block{
    width: 100%;
    padding: 15px 35px 5px 35px;
    position: relative;
    text-align:center;

}

.refer-headline{
	font-size:24px;
	color:#fff;
	margin-bottom:10px;
	font-weight: 400;
}

.other-refer-box{
	width:70%;
	margin: auto;
    text-align: center;
}

.fb-button{
    height: auto;
    display: inline-block;
    position: relative;
    background-color: #3d5a98;
    margin: auto;
    text-align: center;
    padding: 10px 15px;
    width: 300px;
    margin-right:10px;
}

.copy-link-button{
    height: auto;
    display: inline-block;
    position: relative;
    background-color: #00cc99;
    margin: auto;
    text-align: center;
    padding: 14px 16px;
    outline: 0;
    border: none;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 6px;
}

.fb-button-icon{
	width:12%;
	margin-right: 12px;
    margin-left: -18px;
}


.copy-link-icon{
	width:12%;
	margin-right: 5px;
}

.copy-url{
	position: relative;
    display: inline-block;
    padding: 10px 5px;
    height: 50px;
    border: 1px solid lightgray;
    margin-left: -5px;
	background-color: #eee;
}

/***********************************************/
/***** Referral Invite sign-up/login page ******/
/***********************************************/


.inviter-content{  
    position: relative;
    text-align:center;
    margin:auto;
}

.referral-input-style{
	display: inline-flex;
	border-bottom: 1px solid #fff;
	width: auto;
	max-width:100%;
	overflow: hidden;
	white-space: nowrap;
	color:#fff;
}

.invite-logout-header{
    z-index: 3;
    width: 100%;
    top: 0px;
    position: relative;
    padding: 35px 35px 15px 35px;
    color: #fff;
    text-align:center;
    margin:auto;
}

.hero-title{
	font-size: 24px;
	color:#fff;
	margin-bottom:10px;
}

.hero-tagline{
	font-size:18px;
	color:#fff;
	width:80%;
	margin:auto;
	margin-bottom:30px;
}

.inviter-signin{
    background-color: #2c5968;
    max-width:60%;
	display: inline-block;
    padding: 5% 2% 5% 2%;
    text-align:center;
    margin:auto;
}

.facebook-like-block{
	background-color: #2c5968;
    width:60%;
	display: inline-block;
    padding: 4% 1%;
    text-align:center;
    margin:auto;
}

.signin-link{
	margin-left:10px;
	display:inline-block;
	position:relative;
	text-decoration: underline;
	color:#fff !important;
}


/***********************************************/
/*****************  Invite page ****************/
/***********************************************/

.invite-signin-image{
	width: 20%;
    margin: auto;
    margin-top: 40px;
}

.invite-link-block{
	position:relative;
	background-color:transparent;
	padding: 1% 2%;
}

.other-refer-type-title{
	background-color: transparent;
    color: #fff;
    width: 100%;
    margin-bottom:20px;
    font-weight: 400;
    display:inline-block;
    padding: 0 15px;
    position: relative;
}

.email-box{
	background-color:#2c5968;
	padding: 20px 0 25px 0;
	text-align:center;
	margin:auto;
}

/***********************************************/
/*****************  Thanks page ****************/
/***********************************************/

.rewards{
	font-size: 24px;
	color:#333333;
	margin-bottom:10px;
	text-align:center;
	margin:auto;
	width:40%;
	margin-top:40px;
}





@media screen and (max-width: 480px) {  /* mobile */


	.city-bottom{
	    background-size: 220% 10%;   /* customized just for mobile */
	}

	.invite-link-block{
		padding: 1% 0;
	}


	.invite-header-icon-block{
	    width: 20%;			/* customized just for mobile, wider  */
	}

	.refer-title-block{
	    padding: 15px 35px 0px 35px;
	}


	.refer-tagline{
		font-size: 16px;
		font-weight:400;
		color: #fff;
    	margin-bottom: 15px;
	}


	.email-field-box{
		width: 90%;
	    margin: auto;
	}

	.email-textarea{
	  padding:10px 15px;
	  display: inline-block;
	  width: 95%;
	  border: 1px solid #CCC;
	  resize:none;
	}

	.email-box{
		width: 100%;
		margin-bottom:20px;
	}

	.other-refer-box{
		width:100%;   /* diff width for mobile */
		//background-color: #24a8b2;	
		padding:20px;
	}


	.hero-tagline{
		font-size:16px;  /* smaller font size for mobile */
	}


	.inviter-signin{
	    width: 100%;
	    display: block;
	    padding: 10% 0;
	    max-width: 100%;
	}

	.facebook-like-block{
		width: 100%;
	    display: block;
	    padding: 10% 0;
	}

	.invite-signin-image{
		padding: 1% 25% 0 25%;
		width: 100%;
	}

	.inviter-image-block{
		width:100%;
		display:inline-block;
		padding: 30px;
		text-align: center;
	}


	.inviter-image{
		width:70%;
	}


	.fb-button{
	    display: block;
	    padding: 13px 0px;
	    width: 250px;
	   	margin:auto;
	    margin-bottom: 20px;

	}


	.copy-link-button{
	    padding: 13px 0px;
	    margin:auto;
	}


	.copy-url{
	    overflow: hidden;
	    padding: 10px 0px;
	    height: 40px;
		background-color: #eee;
	    
	}

	.rewards{
		margin-bottom:20px;
		width:70%;
		margin-top:20px;
	}


}


@media screen and (min-width: 480px) and (max-width:1068px) {



	.refer-tagline{
		font-size: 18px;
		width:82%;
		margin:auto;
		color:#fff;
		margin-bottom: 15px;
	}

	.email-field-box{
		margin-bottom:10px;
		width: 90%;
	    margin: auto;
	}


	.email-box{
		width: 70%;
		margin-bottom:30px;
		margin-top:20px;
	}



	.email-textarea{
	  padding:10px 15px;
	  display: inline-block;
	  width: 85%;
	  border: 1px solid #CCC;
	  resize:none;
	  height: 50px;
	}


	.inviter-signin{
	    background-color: #2c5968;
	    max-width: 60%;
	    display: inline-block;
	    padding: 5% 2% 5% 2%;
	    text-align:center;
	    margin:auto;
	}



	.inviter-image-block{
		width:40%;
		float:left;
		display:inline-block;
		padding: 20px;
		margin-right:15%;
	}

	.inviter-image{
		width:90%;
		margin:auto;
	}

	.copy-url{
	    padding: 10px 0px;
	}


}

@media screen and (min-width: 1068px) {


	.refer-tagline{
		font-size: 18px;
		width:82%;
		margin:auto;
		color:#fff;
		margin-bottom:15px;
	}

	.email-field-box{
		margin-bottom:10px;
		width: 90%;
	    margin: auto;
	}


	.email-box{
		width: 70%;
		margin-bottom:30px;
		margin-top:20px;
	}

	.email-textarea{
	  padding:10px 15px;
	  display: inline-block;
	  width: 100%;
	  border: 1px solid #CCC;
	  resize:none;
	  height:50px;
	  margin-bottom:10px;
	}


	.inviter-image-block{
		width:55%;
		float:left;
		display:inline-block;
		padding-left:5%;
		text-align:center;
		margin:auto;
	}

	.inviter-image{

		width:70%;

	}


	.copy-url{
	    padding: 10px 5px;
	}

}

