// Place all the styles related to the Onboarding controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*
 * CSS for Savvy Saver
 *
 *
 */




.saver-header{
    /*position: fixed;*/
    width: 100%;
    background-color: white;
    padding-top:1%;
    top:0;
    z-index:3;
}

.saver-header-icon-block{
    float: left;
    display: inline-block;
    width: 20%;
}


.saver-textbox-width{
  width:82%;
}

.saver-hr{
	margin-top:2%;
}


.btn-primary:active, .btn-primary:focus, .btn:active, .btn:focus{
    outline: 0;
}

.signup-buttons{
	background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 96%;
    margin: auto;
}


.signup-button{
	width: 350px;
	text-align:center;
	margin: auto;
	height: 80px;
	padding:10px;
}

.fb-button{
//	background-color: #3d5a98;
//	color: #fff;
	background-color:#fff;
	color:#333;
	height: 100%;
    width: 100%;
    padding-top: 20px;
    padding-left:0;
    text-decoration:none;
    border-radius:6px;
}

.fb_signin_icon{
	float: left;
    width: 28px;
    margin-top: -4px;

}

.fb-icon-box{
//	background-color: #365182;
    width: 51px;
    height: 50px;
    padding-left: 24px;
    display: inline-block;
    float: left;
}

.google-button{
	color:#e0492f;
	background-color: #fff;
	height: 100%;
    width: 100%;
    padding-top:20px;
    text-decoration:none;
    border-radius:6px;
}

.google-icon-box{
    width: 51px;
    height: 50px;
    padding-left: 24px;
    display: inline-block;
    float: left;
}

.email-signin-button{
	height:100%;
	width:100%;
	text-decoration:none;
	color:#444;
	background-color: #fff;
	padding-top:20px;
	border-radius:6px;
}

.email-icon-box{
    width: 51px;
    height: 50px;
    margin-top: -17px;
    padding-top: 13px;
    padding-left: 21px;
    display: inline-block;
    float: left;
}

.email_signin_icon{
	float: left;
    width: 32px;
    margin-top: -1px;
}

.signin-button-text{
    color: #3d5a98;
	text-align: left;
	text-decoration: none;
	font-weight:500;
	margin-left: 32px;
    float: left;
}

#email-fields-area{
	padding-top: 30px;
    width: 80%;
    text-align: center;
    margin: auto;
}


@media screen and (max-width: 350px) {

	.saver-question-block{
	  width: 85%;
	  margin: auto;
	  text-align: left;
	  height: 800px;
	  vertical-align: middle;
	  padding-top: 10%;
	}

	.saver-header-logo-block{
		position: relative;
    	width: 46%;
    /* margin: auto; */
	    margin-top: 5%;
	    display: inline-block;
	}

	.lp-saver-header-image{
		width: 80%;
	    height: auto;
	    margin: auto;
	}

	.saver-header-icon{
		width: 100%;
	    height: auto;
	    margin: auto;
	}

	.saver-header-logo{
		width: 90%;
	    height: auto;
	}



}


@media screen and (min-width: 350px) and (max-width: 480px) {

	.saver-question-block{
	  width: 85%;
	  margin: auto;
	  text-align: left;
	  height: 800px;
	  vertical-align: middle;
	  padding-top: 6%;
	}

	.saver-header-logo-block{
		position: relative;
	    width: 48%;
	    display:inline-block;
	    margin-top: 4%;
	}

	.saver-header-icon{
		width: 100%;
	    height: auto;
	    margin: auto;
	}

	.lp-saver-header-image{
		width: 80%;
	    height: auto;
	    margin: auto;
	}

	.saver-header-logo{
		width: 90%;
	    height: auto;
	}


}

@media screen and (min-width: 480px) and (max-width:700px){

	.saver-question-block{
		width: 70%;
		margin: auto;
		text-align: left;
		height: 800px;
		vertical-align: middle;
		padding-top: 4%;
	}


	.saver-header-icon-block{
		float: left;
	    display: inline-block;
	    height: 70px;
	    width: 8%;
	    margin-left: 20px;
	}

	.saver-header-logo-block{
		position: relative;
	    width: 62%;
	    margin-top: 1.2%;
	    display: inline-block;
	}

	.saver-header-icon{
		width: 90%;
	    margin: auto;
	}

	.lp-saver-header-image{
		width: 90%;
	    margin: auto;
	}

	.saver-header-logo{
		width: 25%;
    	height: auto;
	}	

	.saver-button{
		width:50%;
		text-align:center;
	}


}

@media screen and (min-width:700px){

	.saver-question-block{
		width: 66%;
		margin: auto;
		text-align: left;
		height: 800px;
		vertical-align: middle;
		padding-top: 4%;
	}



	.saver-header-icon-block{
		float: left;
	    display: inline-block;
	    height: 70px;
	    width: 8%;
	    margin-left: 20px;
	}


	.saver-header-logo-block{
		position: relative;
	    width: 62%;
	    margin-top: 1.2%;
	    display: inline-block;
	}

	.saver-header-icon{
		width: 90%;
	    margin: auto;
	}

	.lp-saver-header-image{
		width: 90%;
	    margin: auto;
	}

	.saver-header-logo{
		width: 25%;
    	height: auto;
	}	



}


