// Place all the styles related to the Onboarding controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*
 * CSS for Savvy Saver
 *
 *
 */




.saver-header{
    /*position: fixed;*/
    width: 100%;
    background-color: white;
    padding-top:1%;
    top:0;
    z-index:3;
}

.saver-header-icon-block{
    float: left;
    display: inline-block;
    width: 20%;
}


.saver-textbox-width{
  width:82%;
}

.saver-hr{
	margin-top:2%;
}


.btn-primary:active, .btn-primary:focus, .btn:active, .btn:focus{
    outline: 0;
}




@media screen and (max-width: 350px) {

	.saver-question-block{
	  width: 85%;
	  margin: auto;
	  text-align: left;
	  height: 800px;
	  vertical-align: middle;
	  padding-top: 10%;
	}

	.signup-white-block{
		width:100%;
		margin: auto;
		
		vertical-align: middle;
		padding-top:10%;
	}

	.signup-block{
	  width: 100%;
	  margin: auto;
	  text-align: left;
	  vertical-align: middle;
	  padding: 10% 7%;
	  background-color:#eee;
	  margin-top:10px;
	  margin-bottom:0;
	}

	.saver-header-logo-block{
		position: relative;
    	width: 46%;
    /* margin: auto; */
	    margin-top: 5%;
	    display: inline-block;
	}

	

	.saver-header-icon{
		width: 100%;
	    height: auto;
	    margin: auto;
	}

	.saver-header-logo{
		width: 90%;
	    height: auto;
	}

	

}


@media screen and (min-width: 350px) and (max-width: 480px) {

	.saver-question-block{
	  width: 85%;
	  margin: auto;
	  text-align: left;
	  height: 800px;
	  vertical-align: middle;
	  padding-top: 6%;
	}

	.signup-white-block{
		width:100%;
		margin: auto;
		
		vertical-align: middle;
		padding-top:6%;
	}

	.signup-block{
	  width: 100%;
	  margin: auto;
	  text-align: left;
	  vertical-align: middle;
	  padding: 10% 7%;
	  background-color:#eee;
	  margin-top:10px;
	  margin-bottom:0;
	}



	.saver-header-logo-block{
		position: relative;
	    width: 48%;
	    display:inline-block;
	    margin-top: 4%;
	}

	.saver-header-icon{
		width: 100%;
	    height: auto;
	    margin: auto;
	}


	.saver-header-logo{
		width: 90%;
	    height: auto;
	}

	.about-blurb{
		color: #333;
	    width: 85%;
	    line-height: 1.4em;
	    text-align: left;
	    margin: auto;
	    margin-top: 5%;
	}


}

@media screen and (min-width: 480px) and (max-width:700px){

	.saver-question-block{
		width: 70%;
		margin: auto;
		text-align: left;
		height: 800px;
		vertical-align: middle;
		padding-top: 4%;
	}

	.signup-white-block{
		width:100%;
		margin: auto;
		height: 800px;
		vertical-align: middle;
		padding-top:4%;
	}

	.signup-block{
		max-width:80%;
		margin: auto;
		text-align: left;
		vertical-align: middle;
		padding:3% 5%;
		background-color:#eee;
		margin-top:3%;
		margin-bottom:3%;
	}

	.saver-header-icon-block{
		float: left;
	    display: inline-block;
	    height: 70px;
	    width: 8%;
	    margin-left: 20px;
	}

	.saver-header-logo-block{
		position: relative;
	    width: 62%;
	    margin-top: 1.2%;
	    display: inline-block;
	}

	.saver-header-icon{
		width: 90%;
	    margin: auto;
	}



	.saver-header-logo{
		width: 25%;
    	height: auto;
	}	

	.saver-button{
		width:50%;
		text-align:center;
	}

	.about-blurb{
		color: #333;
	    width: 75%;
	    line-height: 1.5em;
	    text-align: center;
	    margin: auto;
	    margin-top: 5%;
	}

}

@media screen and (min-width:700px){

	.saver-question-block{
		width: 66%;
		margin: auto;
		text-align: left;
		height: 800px;
		vertical-align: middle;
		padding-top: 4%;
	}

	.signup-white-block{
		width:100%;
		margin: auto;
		height: 800px;
		vertical-align: middle;
		padding-top:4%;
	}

	.signup-block{
		
		margin: auto;
		text-align: left;
		vertical-align: middle;
		padding:3% 5%;
		background-color:#eee;
		margin-top:3%;
		margin-bottom:3%;
		max-width:80%;
	}

	.saver-header-icon-block{
		float: left;
	    display: inline-block;
	    height: 70px;
	    width: 8%;
	    margin-left: 20px;
	}


	.saver-header-logo-block{
		position: relative;
	    width: 62%;
	    margin-top: 1.2%;
	    display: inline-block;
	}

	.saver-header-icon{
		width: 90%;
	    margin: auto;
	}



	.saver-header-logo{
		width: 25%;
    	height: auto;
	}	

	.about-blurb{
		color: #333;
	    width: 75%;
	    line-height: 1.5em;
	    text-align: center;
	    margin: auto;
	    margin-top: 5%;
	}

}


