
/*
 *
 * USER SECTION CSS STYLINGS
 *
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";


#error_explanation {
  width: 400px;
  border: 2px solid #D05847;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  margin-top:15px;
  margin: auto;
  background-color: #B84B3E;
}

#error_explanation h2 {
  text-align: left;
  padding: 8px 5px 5px 15px;
  margin: -7px;
  background-color: transparent;
  color: transparent;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  
  padding: 5px;

}

#error_explanation ul li {
  list-style: none;
}

.signup-buttons-block{
  width:100%;
  text-align:center;
  margin:auto;
}


.signup-buttons{
  background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 96%;
    margin: auto;
}


.signup-button{
  max-width: 350px;
  text-align:center;
  margin: auto;
  height: 80px;
  padding:10px;
}

.fb-button{
//  background-color: #3d5a98;
//  color: #fff;
  background-color:#fff;
  color:#333;
  height: 100%;
    width: 100%;
    padding-top: 20px;
    padding-left:0;
    text-decoration:none;
    border-radius:6px;
}

.fb_signin_icon{
  float: left;
    width: 28px;
    margin-top: -4px;

}

.fb-icon-box{
//  background-color: #365182;
    width: 51px;
    height: 50px;
    padding-left: 24px;
    display: inline-block;
    float: left;
}

.google-button{
  color:#e0492f;
  background-color: #fff;
  height: 100%;
    width: 100%;
    padding-top:20px;
    text-decoration:none;
    border-radius:6px;
}

.google-icon-box{
    width: 51px;
    height: 50px;
    padding-left: 24px;
    display: inline-block;
    float: left;
}

.email-signin-button{
  height:100%;
  width:100%;
  text-decoration:none;
  color:#444;
  background-color: #fff;
  padding-top:20px;
  border-radius:6px;
}

.email-icon-box{
    width: 51px;
    height: 50px;
    margin-top: -17px;
    padding-top: 13px;
    padding-left: 21px;
    display: inline-block;
    float: left;
}

.email_signin_icon{
  float: left;
    width: 32px;
    margin-top: -1px;
}

.signin-button-text{
    color: #3d5a98;
  text-align: left;
  text-decoration: none;
  font-weight:500;
  margin-left: 32px;
    float: left;
}

#email-fields-area{
  padding-top: 30px;
    width: 60%;
    text-align: center;
    margin: auto;
    background-color: #2c5968;
    color: #fff;
    margin-top:30px;
    border-radius:6px;
}


@media screen and (max-width: 350px) {

    #email-fields-area{
    width:100%;
  }

}

@media screen and (min-width: 350px) and (max-width: 480px) {
  #email-fields-area{
    width:100%;
    text-align: center;
      margin: auto;
      margin-top:30px;
      padding-left:15px;
      padding-right:15px;
  }

}
