// Place all the styles related to the saver_guests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





.step-numbers{
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size:24px;
	font-weight:bold;
	text-align:center;
}

.step-text{
	margin-bottom:20px;
	font-size:15px;
	text-align:center;
	line-height:1.5;
	font-weight:500;
}

.accept-link{
	text-decoration: none;
	color:#00A99D;
}
.accept-link:hover{
	color:#fff;
	text-decoration: underline;
}

.accept-link:visited, :link{
	color:#00A99D;
	text-decoration: none;
}

.accept-button{
    white-space: normal;
    text-align: left;
    border: 1px solid #80c1b6;
    background-color: transparent;
    color: #00A99D;
    padding: 10px 30px;
    border-radius:6px;
    text-decoration: none;
    margin-bottom:10px;
    font-size:15px;
}

.accept-button:hover{
	color:#fff;
    background-color:#00a99D;
}

.accept-button:active, .accept-button:focus{
   color:#fff;
   background-color:#138c78;
}

@media screen and (max-width: 450px) {

	.step-image{
		width:66%;
		margin:auto;
		text-align:center;
	}

	.step-numbers{
		font-size:16px;
	}

	.howitworks-block{
		width:80%; 
		padding-top: 25%; 
		margin:auto;
	}

	.savvy-step{
		margin-bottom:15px;
		text-align:center;
		margin:auto;
		padding:5px 10px;
	}


}

@media screen and (min-width: 450px) {
	.step-image{
		width:80%;
		margin:auto;
	}

	.howitworks-block{
		width:90%; 
		padding-top: 15%; 
		margin:auto;
	}

	.accept-button{
		width:60%;
		margin:auto;
	}

	.savvy-step{
		margin-bottom:15px;
		text-align:center;
		margin:auto;
		padding:10px 24px !important; 
	}


}


