@import "bootstrap-sprockets";
@import "bootstrap";

.splash-background{
 /* background-color: #2F6071;  dark blue */
 /* background-color: #43525D;  dark gray */
 /* background-color: #133e49; dark teal */
 background-color:#125D70;
  padding: 0;
  padding-bottom: 20px;
}

.thanks-background{
  background-color:#1D2D49;
  padding: 0;
}


.module-2{
  display:block;
  background-color: #1e8699;
  color: #fff;
  padding: 20px;
}


.module-3{
  display:block;
  background-color:#26b99a;
  color:#fff;
  padding: 20px;
}

.thanks-primary-button{
    background-color: #00A99D;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    margin: auto;
    text-decoration: none;
}

.col-padding{
  padding-right:25px;
}

//for smaller phones
@media screen and (max-width: 350px) {
  .splash-banner{
    margin: auto;
    margin-top: 0;
    width: 100%;
    height: 200px;
}

  .banner-image{
    background-image: url(signup_lp_mobile_banner.png);
    background-repeat: no-repeat;
    position: relative;
    display: block;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    max-width: 350px;
    width: 100%;
    height: 200px;

  }

.splash-section{
  width:85%;
  text-align:center;
  margin:auto;
}

.user-welcome{
  font-size:24px;
  font-family:'Gill Sans', Sans-Serif;
  font-weight:300;
  line-height: 1.2em;
  color:#fff;
  margin-bottom:5%;
}

.user-feedback-cta{
  font-size:16px;
  font-family:'Gill Sans', Sans-Serif;
  font-weight: 300;
  color:#fff;
  margin-bottom: 15px;
}
 .splash-question{
    font-size:30px;
    font-family:'Gill Sans', Sans-Serif;
    font-weight: 300;
    line-height: 1.2em;
    color:#fff;
    margin-bottom:8%;
 }

.signup-instruction{
  font-size:21px;
  font-family:'Gill Sans', Sans-Serif;
  font-weight: 300;
  color:#fff;
  margin-bottom: 15px;
}

.row-email{
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom:10px;
  height: 42px;
}

.email-field{
  font-size:18px;
  font-family:'Gill Sans', Sans-Serif;
  font-weight: 300;
  color:#3D7892;
  border: 1px solid #376F82;
  background-color:#FBF9DD;
  padding-left:5px;
  height: 42px;
      text-align: left;
      width: 80%;
}

.field-col{
    width: 75%;
    float: left;
    display: inline-block;
    margin-left: 6%;
}
.btn-col{
    float: left;
    display: inline-block;
}

.signup-button{
  background-color:#4E9CB7;
  color:#fff;
  border: none;
  width: 40px;
    height: 40px;
    margin-top: 1px;
    margin-left: 5px;
    font-size: 13px;
}

.signup-incentive{
  width:100%;
  font-size:18px;
  font-family:'Gill Sans', Sans-Serif;
  font-weight: 300;
  color:#F9D791;
  margin-top: 15px;
}


.thanks-banner{
     margin: auto;
    margin-top: 0;
    width: 100%;
    height: 260px; 
    margin-bottom:40px;
}

.thanks-banner-image{
    background-image: url(signup_thanks_mobile_banner.png);
    background-repeat: no-repeat;
    position: relative;
    display: block;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    max-width: 350px;
    width: 100%;
    height: 260px;
  }

.thanks-message{
  font-size:18px;
  font-family:'Gill Sans', Sans-Serif;
  margin-top:20px;
  margin-bottom:30px;
  color:#fff;
}

.module-2-height{
  height:700px;
}

.module-title{
  font-family:'Gill Sans', Sans-Serif;
  font-size:24px;
  font-weight:300;
  text-align:center;
  margin-bottom:10px;

}

.step-icon{
    width: 56%;
    margin: auto;
    text-align: center;
}

.step-title{
  font-size: 16px;
    font-weight: 400;
    font-family: 'Museo Sans', 'Open Sans', Sans-Serif;
    text-align: center;
}

.step-subtext{
    font-family: 'Museo Sans', 'Open Sans', Sans-Serif;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 5%;
  }

.mission-text{
  font-family: 'Museo Sans', 'Open Sans', Sans-Serif;
  font-size:16px;
  font-weight:300;
  text-align:left;
   padding: 0px 8%;
  line-height: 1.4em;
  margin: 5px auto;
  text-indent: 20px;
}


  .app-name{
    text-align: center;
    font-size: 50px;
    max-width: 80%;
    margin:auto;
  }

  .app-tagline{
    text-align: center;
  }

  .logo{
    text-align: center;
    display: block;
    width: 182px;
    height: 56px;
    margin: auto;
  }

  .splash-image{
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 250px;
    max-width:60%;
    height:auto;
  }

  .sign-in-link{
    text-align: center;
    text-decoration: underline;
    margin-bottom:20px;
  }


}


//for bigger phones like iphone 6
@media screen and (min-width: 350px) and (max-width: 480px) {
  .splash-banner{
    margin: auto;
    margin-top: 0;
    width: 100%;
    height: 260px;
    margin-bottom: 5%;
}

  .banner-image{
    background-image: url(signup_lp_mobile_banner.png);
    background-repeat: no-repeat;
    position: relative;
    display: block;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    max-width: 480px;
    width: 100%;
    height: 260px;

  }

.splash-section{
  width:85%;
  text-align:center;
  margin:auto;
}

.user-welcome{
  font-size:24px;
  font-family:'Gill Sans', Sans-Serif;
  font-weight:300;
  line-height: 1.2em;
  color:#fff;
  margin-bottom:5%;
}

.user-feedback-cta{
  font-size:18px;
  font-family:'Gill Sans', Sans-Serif;
  font-weight: 300;
  color:#fff;
  margin-bottom: 15px;
}

 .splash-question{
    font-size:30px;
    font-family:'Gill Sans', Sans-Serif;
    font-weight: 300;
    line-height: 1.2em;
    color:#fff;
    margin-bottom:5%;
 }

.signup-instruction{
  font-size:21px;
  font-family:'Gill Sans', Sans-Serif;
  font-weight: 300;
  color:#fff;
  margin-bottom: 15px;
}


.row-email{
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom:15px;
  height: 40px;
}


.email-field{
  font-size:18px;
  font-family:'Gill Sans', Sans-Serif;
  font-weight: 300;
  color:#3D7892;
  border: 1px solid #376F82;
  background-color:#FBF9DD;
  padding-left:5px;
  height: 42px;
  text-align: left;
  width: 80%;
}

.field-col{
    width: 75%;
    float: left;
    display: inline-block;
    margin-left: 6%;
}
.btn-col{
    float: left;
    display: inline-block;
}

.signup-button{
  background-color:#4E9CB7;
  color:#fff;
  border: none;
  width: 40px;
    height: 40px;
    margin-top: 1px;
    margin-left: 5px;
    font-size: 13px;

}

.signup-incentive{
  font-size:18px;
  font-family:'Gill Sans', Sans-Serif;
  font-weight: 300;
  color:#F9D791;
  width: 80%;
  margin: auto;
}


.thanks-banner{
     margin: auto;
    margin-top: 0;
    width: 100%;
    height: 330px; 
    margin-bottom:20px;
}

.thanks-banner-image{
    background-image: url(signup_thanks_mobile_banner.png);
    background-repeat: no-repeat;
    position: relative;
    display: block;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    max-width: 450px;
    width: 100%;
    height: 75%;
  }

.thanks-message{
  font-size:18px;
  font-family:'Gill Sans', Sans-Serif;
  margin-top:20px;
  margin-bottom:30px;
  color:#fff;
}

.module-2-height{
  height:720px;
}

.module-title{
  font-family:'Gill Sans', Sans-Serif;
  font-size:24px;
  font-weight:300;
  text-align:center;
  margin-bottom:10px;
  margin-top:10px;
}

.step-icon{
    width: 56%;
    margin: auto;
    text-align: center;
}

.step-title{
  font-size: 16px;
    font-weight: 400;
    font-family: 'Museo Sans', 'Open Sans', Sans-Serif;
    text-align: center;
    margin-bottom:5px;
}

.step-subtext{
    font-family: 'Museo Sans', 'Open Sans', Sans-Serif;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 5%;
  }

.mission-text{
  font-family: 'Museo Sans', 'Open Sans', Sans-Serif;
  font-size:16px;
  font-weight:300;
  text-align:left;
   padding: 0px 8%;
  line-height: 1.4em;
  margin: 5px auto;
  text-indent: 20px;
}


  .app-name{
    text-align: center;
    font-size: 50px;
    max-width: 80%;
    margin:auto;
  }

  .app-tagline{
    text-align: center;
  }

  .logo{
    text-align: center;
    display: block;
    width: 182px;
    height: 56px;
    margin: auto;
  }

  .splash-image{
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 250px;
    max-width:80%;
    height:auto;
  }

  .sign-in-link{
    text-align: center;
    text-decoration: underline;
    margin-bottom:25px;
  }
 }


//for desktop
 @media screen and (min-width: 480px) and (max-width: 900px){
 
  .splash-banner{
    margin: auto;
    margin-top: 0;
    width: 100%;
    height: 240px;
    margin-bottom: 20px;
}

  .banner-image{
    background-image: url(signup_lp_web_banner.png);
    background-repeat: no-repeat;
    position: relative;
    display: block;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 240px;
    margin-bottom:10px;
  }

.splash-section{
  width:65%;
  text-align:center;
  margin:auto;
}

.user-welcome{
  font-size:32px;
  font-family:'Gill Sans', Arial;
  font-weight:300;
  line-height: 1.2em;
  color:#fff;
  margin-bottom:3%;
}

.user-feedback-cta{
  font-size:21px;
  font-family:'Gill Sans';
  font-weight: 300;
  color:#fff;
  margin-bottom: 15px;
}

 .splash-question{
    font-size:45px;
    font-family:'Gill Sans', Arial;
    font-weight: 300;
    line-height: 1.2em;
    color:#fff;
    margin-bottom: 3%;
    margin-top: 4%;
 }

.signup-instruction{
  font-size:21px;
  font-family:'Gill Sans';
  font-weight: 300;
  color:#fff;
  margin-top:15px;
  margin-bottom: 10px;
}

.row-email{
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom:20px;
    height: 55px;
}

.email-field{
  font-size:18px;
  font-family:'Gill Sans';
  font-weight: 300;
  color:#3D7892;
  border: 1px solid #376F82;
  background-color:#FBF9DD;
  padding-left:10px;
    height: 55px;
  text-align: left;
  width: 80%;
}

.field-col{
    width: 75%;
    float: left;
    display: inline-block;
    margin-left: 6%;
}
.btn-col{
    float: left;
    display: inline-block;
}

.signup-button{
  background-color:#4E9CB7;
  color:#fff;
  border: none;
  width: 54px;
    height: 54px;
    margin-top: 1px;
    margin-left: 5px;
    font-size: 13px;


}

.signup-incentive{
  width:100%;
  font-size:18px;
  font-family:'Gill Sans';
  font-weight: 300;
  color:#F9D791;
  margin-top: 15px;
}


.thanks-banner{
     margin: auto;
    margin-top: 0;
    width: 100%;
    height: 280px; 
    margin-bottom:40px;
}

.thanks-banner-image{
    background-image: url(signup_thanks_web_banner.png);
    background-repeat: no-repeat;
    position: relative;
    display: block;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 280px;
  }

.thanks-message{
  font-size:24px;
  font-family:'Gill Sans';
  margin-top:20px;
  margin-bottom:30px;
      line-height: 1.2em;
    width: 75%;
    margin: auto;
    color:#fff;
}

.module-2-height{
  height:300px;
}

.module-title{
  font-family:'Gill Sans';
    font-size: 28px;
    font-weight: 300;
    text-align: center;
  margin-bottom:10px;
}

.step-icon{
    width: 65%;
    margin: auto;
    text-align: center;
}

.step-title{
  font-size:18px;
  font-weight:300;
  text-align:center;
}

.step-subtext{
  font-family:'Museo Sans', Sans-Serif;
  font-size: 16px;
  font-weight: 300;
  text-align:center;
  margin-top: 5px;
}

.mission-text{
  font-family:'Museo Sans', Sans-Serif;
  font-size:18px;
  font-weight:300;
  text-align:left;
   padding: 0px 8%;
  line-height: 1.4em;
  margin: 15px auto;
  text-indent: 20px;
}


  .app-name{
    text-align: center;
    font-size: 50px;
    max-width: 75%;
    margin:auto;
  }

  .app-tagline{
    text-align: center;
    font-size: 21px;
  }

  .logo{
    text-align: center;
    display: block;
    width: 182px;
    height: 56px;
    margin: auto;
  }

  .splash-image{
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 250px;
    max-width:80%;
    height:auto;
  }
  }


  //for desktop
 @media screen and (min-width: 900px) {

  .splash-banner{
    margin: auto;
    margin-top: 0;
    width: 100%;
    height: 280px;
    margin-bottom: 20px;
}

  .banner-image{
    background-image: url(signup_lp_web_banner.png);
    background-repeat: no-repeat;
    position: relative;
    display: block;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 280px;
    margin-bottom:10px;
  }

.splash-section{
  width:65%;
  text-align:center;
  margin:auto;
}
 .splash-question{
    font-size:45px;
    font-family:'Gill Sans', Arial;
    line-height: 1.2em;
    color:#fff;
    margin-bottom: 3%;
    margin-top: 4%;
 }

.user-welcome{
   font-size:32px;
  font-family:'Gill Sans', Arial;
  font-weight:300;
  line-height: 1.2em;
  color:#fff;
  margin-bottom:3%;
}

 .user-feedback-cta{
  font-size:21px;
  font-family:'Gill Sans';
  font-weight: 300;
  color:#fff;
  margin-bottom: 15px;
}

.signup-instruction{
  font-size:21px;
  font-family:'Gill Sans';
  color:#fff;
  margin-top:15px;
  margin-bottom: 10px;
}

.row-email{
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom:20px;
    height: 55px;
}

.email-field{
  font-size:18px;
  font-family:'Gill Sans';
  color:#3D7892;
  border: 1px solid #376F82;
  background-color:#FBF9DD;
  padding-left:10px;
    height: 55px;
  text-align: left;
  width: 80%;
}

.field-col{
    width: 75%;
    float: left;
    display: inline-block;
    margin-left: 6%;
}
.btn-col{
    float: left;
    display: inline-block;
}

.signup-button{
  background-color:#4E9CB7;
  color:#fff;
  border: none;
  width: 54px;
    height: 54px;
    margin-top: 1px;
    margin-left: 5px;
    font-size: 13px;


}

.signup-incentive{
  width:100%;
  font-size:18px;
  font-family:'Gill Sans';
  color:#F9D791;
  margin-top: 15px;
}


.thanks-banner{
     margin: auto;
    margin-top: 0;
    width: 100%;
  height: 350px;
    margin-bottom: 20px;
}



.thanks-banner-image{
    background-image: url(signup_thanks_web_banner.png);
    background-repeat: no-repeat;
    position: relative;
    display: block;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: 100%;
  }

.thanks-message{
  font-size:24px;
  font-family:'Gill Sans';
  margin-top:20px;
  margin-bottom:30px;
      line-height: 1.2em;
    width: 75%;
    margin: auto;
    color:#fff;
}

.module-2-height{
  height:300px;
}

.module-title{
  font-family:'Gill Sans';
    font-size: 28px;
    font-weight: 300;
    text-align: center;
  margin-bottom:10px;
}

.step-icon{
    width: 65%;
    margin: auto;
    text-align: center;
}

.step-title{
  font-size:18px;
  font-weight:300;
  text-align:center;
}

.step-subtext{
  font-family:'Museo Sans', Sans-Serif;
  font-size: 16px;
  font-weight: 300;
  text-align:center;
  margin-top: 5px;
}

.mission-text{
  font-family:'Museo Sans', Sans-Serif;
  font-size:18px;
  font-weight:300;
  text-align:left;
   padding: 0px 8%;
  line-height: 1.4em;
  margin: 15px auto;
  text-indent: 20px;
}


  .app-name{
    text-align: center;
    font-size: 50px;
    max-width: 75%;
    margin:auto;
  }

  .app-tagline{
    text-align: center;
    font-size: 21px;
  }

  .logo{
    text-align: center;
    display: block;
    width: 182px;
    height: 56px;
    margin: auto;
  }

  .splash-image{
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 250px;
    max-width:80%;
    height:auto;
  }
}

