Hi <%= @user.name %>,

<p>Thanks for signing up for <%= link_to "Savvy", "www.getsavvier.com" %>!</p>

<p>We're excited that you're interested in investing. We're in the early stages of building out the Savvy service and are making improvements every day.</p>

<p>If you have any questions or feedback, we would love to hear it - please feel free to reply to this email with anything you're willing to share!</p>


<p>Stay savvy,<br />
Matt and Sushmita<br />
Savvy cofounders</p>