<div class="email-body">
Thanks for signing up for <%= link_to "Savvy", "www.getsavvier.com" %>!

<p>We're here to help you get started investing. And we're going to make it super simple.</p>

<p>Savvy involves 3 short steps:</p>
<ol class="list">
	<li><b>Tell us about yourself:</b> in order to personalize our guidance for you, we’ll ask a bit about your current situation</li>
	<li><b>We’ll explain your options:</b> there are a lot of options out there - we’ll narrow it down to the best two for you</li>
	<li><b>Make your first investment:</b> we’ll walk you through every single step to get started</li>
</ol>

<p>You’re at the top of our list so we’ll let you know as soon as it’s ready!</p>

<p><em>A bit more about us:</em> we’re on a mission to help everyone feel comfortable with investing. We don’t earn any money from referrals. We’re in the early stages of building out a financial coach that helps you get more financially savvy - through clear explanations, unbiased guidance, and fun encouragement. At some point, we hope to earn money with additional premium features - but we will always offer a free version that helps you improve your financial savvy.</p>

<p>We’ll be in touch soon!</p>

<p>Thanks,<br />
Matt and Sushmita, Savvy cofounders</p>
</div>