Hi there,

<p>We’re itching to help you invest – we just need you to complete the first step by answering a few questions.</p>

<p>This will only take a few minutes and will let us personalize your investment options and recommendation. Also, we’ve made some improvements to this experience and we’d really appreciate your feedback!</p>

<div>
  <table cellspacing="0" cellpadding="0"> <tr> 
  <td align="center" width="300" height="40" bgcolor="#00A99D" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; display: block;">
    <span style="color: #ffffff;">
      <%= link_to "Let's get started!", goals_index_url(email: @beta_user.email), class: "email-button" %>
    </span>
    </a>
  </td> 
  </tr> 
  </table> 
</div>

<p>Stay Savvy,<br />
Matt & Sushmita</p>