Hi there,

<p>Thanks again for signing up for <%= link_to "Savvy", "www.getsavvier.com", :class=>"email-link" %>. We’re really excited to be working with you!</p>

<p>You're on your way to putting your money to work for you! With Savvy, you'll get a personalized investment recommendation based on your goals and situation.</p>

<p>A little more about us – our goal is to do all of the hard work for you so that the first steps of investing are simple and easy. We believe deeply in the power of investing and want to help everyone reap the benefits. We don’t receive any referral compensation or kickbacks so our recommendations are unbiased and focused on what’s best for you. 
</p>

<p>Our first step is to get to know you and with that info, we'll put together the best options for you, give you our recommendation, and help you make that investment.

</p>
<div>
<!--[if mso]>
  <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="http://www.getsavvier.com/goals/index" style="height:40px;v-text-anchor:middle;width:300px;" arcsize="10%" stroke="f" fillcolor="#125D70">
    <w:anchorlock/>
    <center style="color:#ffffff;font-family:sans-serif;font-size:16px;font-weight:bold;">
      Let's get started!
    </center>
  </v:roundrect>
  <![endif]-->
  <![if !mso]>
  <table cellspacing="0" cellpadding="0"> <tr> 
  <td align="center" width="300" height="40" bgcolor="#00A99D" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; display: block;">
    <a href="http://www.getsavvier.com/goals/index" style="font-size:16px; font-weight: bold; font-family:sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block">
    <span style="color: #ffffff;">
      Let's get started!
    </span>
    </a>
  </td> 
  </tr> </table> 
  <![endif]>
</div>


<p>Stay savvy,<br />
Matt & Sushmita</p>