<% @title=": Privacy Policy" %>
<script type="text/javascript">
    mixpanel.track("about_us", {

    });
</script>

<body style="background-color:#eee;">

<div class="header dashboard_header">
  <div class="dashboard-header-icon-block"><%= image_tag("flying_pig_header.png", class:"dashboard-header-icon") %> </div>
  <div class="dashboard-header-logo-block"> <%= image_tag("savvysaverlogo.png", class:"dashboard-header-logo") %></div>
    <br />
  </div>
</div>

<%= link_to "Sign in with Facebook", customer_facebook_omniauth_authorize_path %><br />

<%= link_to "Sign in with Google", customer_google_oauth2_omniauth_authorize_path %>

</body>