<% @title=": About Us" %>


<script type="text/javascript">
    mixpanel.track("about_us", {

    });
</script>





<body style="background-color:#eee;">

<div class="header dashboard_header">
  <div class="dashboard-header-icon-block"><%= image_tag("flying_pig_header.png", class:"dashboard-header-icon") %> </div>
  <div class="dashboard-header-logo-block"> <%= image_tag("savvysaverlogo.png", class:"dashboard-header-logo") %></div>
    <br />
  </div>
</div>



</body>