<% @title=": About Us" %>


<script type="text/javascript">
    mixpanel.track("about_us", {

    });
</script>





<body style="background-color:#eee;">

<div class="header dashboard_header">
  <%= link_to root_path do %>
	  <div class="dashboard-header-logo-block"> 
	  	<%= image_tag("savvysaverlogo.png", class:"dashboard-header-logo") %>
	    <br />
	  </div>
	<% end %>
</div>

<div class="lp_subline about-blurb" >
	<div class="about-blurb-headline">We're on a mission to put money back in people's pockets. </div>
	<div class="about-blurb-para">Managing your finances takes too much time, discipline, and expertise. We focus on what we can do on your behalf to save you money. </div>

	<div class="about-pics-block">
		<div class="about-pics-photo">
			<%= image_tag('matt_profile_pic.png', class:"profile_pic") %>
		</div>
		<div class="about-pics-text">
			Matt Krueger <br />
			Co-Founder of Savvy
		</div>
	</div>

	<div class="about-pics-block">
		<div class="about-pics-photo">
		<%= image_tag('sushmita_profile_pic.png', class:"profile_pic") %>
		</div>
		<div class="about-pics-text">
			Sushmita Subramanian<br />
			Co-Founder of Savvy
		</div>
	</div>

</div>

</body>