<% @title=": FAQ" %>

<div class="faq_shortcuts">
	<a href="#generalfaq", class:"faq_link">General Savvy FAQ</a>
	<div class="spaced-row"></div>
	<a href="#referralfaq", class:"faq_link">Referral Program FAQ</a>
</div>


<div id="generalfaq" class="faq-block">
	<div class="big-headline">Savvy FAQ</div>

	<div class="QA_block">
		<div class="faq-letter">Q: </div>
		<div class="faq-content">What types of bills will you negotiate?</div>
		<br/>
		<div class="faq-letter">A: </div>
		<div class="faq-content">We currently work on cable & internet bills. 
		<br />We eventually want to add support for cell phone bills, insurance bills, and others. Please let us know what you’d like us to add next!</div>
	</div>

	<div class="QA_block">
		<div class="faq-letter">Q: </div>
		<div class="faq-content">Do you support bills in my state?</div>
		<br/>
		<div class="faq-letter">A: </div>
		<div class="faq-content">We currently support all cable/internet bills in the U.S.
		</div>
	</div>


	<div class="QA_block">
		<div class="faq-letter">Q: </div>
		<div class="faq-content">How exactly do you negotiate on my behalf?</div>
		<br/>
		<div class="faq-letter">A: </div>
		<div class="faq-content">Our default is to call in as you to save you time and effort. <br />
		To be clear, this means that we will tell your provider that we are you and use the information you provide us to validate your account. This is the only way that the provider will negotiate with us without you either being on the call with us or adding us as an authorized user to your account. If you’d prefer, you can add us as an authorized user on your account instead of us calling in as you.
		</div>
	</div>

	<div class="QA_block">
		<div class="faq-letter">Q: </div>
		<div class="faq-content">Can you remove my TV service from my current bundle?</div>
		<br/>
		<div class="faq-letter">A: </div>
		<div class="faq-content">We don’t currently support adding or removing services from your bill. <br />
		We want to do one thing and do it well: we will try to lower your bill on your existing services.
		</div>
	</div>

	<div class="QA_block">
		<div class="faq-letter">Q: </div>
		<div class="faq-content">Will you sign me up for a contract as a result of your negotiation?
		</div>
		<br/>
		<div class="faq-letter">A: </div>
		<div class="faq-content">No. We do not sign you up for a contract as part of our negotiation.
		</div>
	</div>

	<div class="QA_block">
		<div class="faq-letter">Q: </div>
		<div class="faq-content">How much does it cost?
		</div>
		<br/>
		<div class="faq-letter">A: </div>
		<div class="faq-content">We charge you ⅓ of what we save you for the first year. You keep ⅔ of the savings.
		</div>
	</div>


	<div class="QA_block">
		<div class="faq-letter">Q: </div>
		<div class="faq-content">How much does it cost?
		</div>
		<br/>
		<div class="faq-letter">A: </div>
		<div class="faq-content">We charge you ⅓ of what we save you for the first year. You keep ⅔ of the savings. <br />
		A few examples might help:
		If we lower your bill by $20 per month, you’ll save  $240 in the first year. We would charge you $80 after our negotiations call. You would keep the other $160 saved over the course of the year.
		If we lower your bill by $30 per month, you’ll save  $360 in the first year. We would charge you $120 at the time of successfully negotiating the savings. You would keep the other $240 saved over the course of the year.
		</div>
	</div>

	<div class="QA_block">
		<div class="faq-letter">Q: </div>
		<div class="faq-content">I might be moving soon. Will you prorate your fee if I end up moving or canceling my service in less than 1 year?
		</div>
		<br/>
		<div class="faq-letter">A: </div>
		<div class="faq-content">No, we charge based on the savings for the full year. We believe our service is valuable and worth the cost. <br />
		If you think you are likely to move or cancel your service within a few months of our negotiation, it’s probably not worth it to use Savvy. Our goal is to help people save money and earn enough to sustain our business at the same time - we don’t want you to lose money on the deal.
		</div>
	</div>

	<div class="QA_block">
		<div class="faq-letter">Q: </div>
		<div class="faq-content">Will I be able to make a choice on whether to move forward with the savings after the negotiations call?
		</div>
		<br/>
		<div class="faq-letter">A: </div>
		<div class="faq-content">No. We’ve found that it’s impossible to guarantee the results of a negotiation will be available if they’re not accepted on that call. <br />
		Given this, the results of the negotiation call are final. To reiterate, we won’t change any of your services or commit you to a contract. We’ll lower your bill and that’s it!
		</div>
	</div>




</div>

<div id="referralfaq" class="faq-block">
	<div class="big-headline">Referral Program FAQ</div>

	<div class="QA_block">
		<div class="faq-letter">Q: </div>
		<div class="faq-content">When exactly do I earn $10?
		</div>
		<br/>
		<div class="faq-letter">A: </div>
		<div class="faq-content">We will send you $10 for every invited person who signs up and saves money with Savvy as a result of your invitation. That means that the invited person created a Savvy account, sent us their bill, and we were able to save them money on their bill. <br /><br />
	
		Just to be super clear, we won’t send you $10 for the following:
		<li>If a person creates only creates a Savvy account but doesn’t send us their bill </li>
		<li>If a person sends us their bill but we can’t save them money for any reason </li>
		<li>If a person already had a Savvy account or has already used Savvy to save money</li>
		<br />
		In case you’re curious: our success rate in saving money for people who send us their bill is over 90%! So if the person you invite signs up and sends us their bill, chances are you’ll be getting $10 - but it’s not a guarantee.

		</div>
	</div>

	<div class="QA_block">
		<div class="faq-letter">Q: </div>
		<div class="faq-content">Is there a limit to how much I can earn from invites?
		</div>
		<br/>
		<div class="faq-letter">A: </div>
		<div class="faq-content">No. We will send you $10 for every new person who signs up and saves money with Savvy as a result of your invitation. <br />
		Go crazy, we’re ready!

		</div>
	</div>


</div>


