<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag :email %>
  </head>

  <div class="email-body">
    <%= yield %>
  </div>
</html>
